<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {css file="jqueryUI.bootstrap" /}
        {css file="bootstrap"}
        {css file="__TPL__/css/public.css" /}
        {js file="jquery" /}
        {js file="jquery.validate" /}
        {js file="__ROOT__/public/js/jqueryValidate/jquery.metadata.js" /}
        {js file="jqueryUI" /}
        {js file="datepicker" /}
        {js file="__ROOT__/caches/js/linkage_data.js" /}
        {js file="__ROOT__/public/js/linkage/linkage_style_1.js" /}
    </head>
    <body>
    <div id="tabs-2">

        <table id="user-list" class="table">
            <tr><td>记录id:{$salary.id}</td></tr>
            <tr><td>姓名:{$salary.name}</td></tr>
            <tr><td>公司名称:{$salary.company_name}</td></tr>
            <tr><td>身份证号:{$salary.id_number}</td></tr>
            <tr><td>工号:{$salary.job_number}</td></tr>
            <tr><td>工资月份:{$salary.salary_month}</td></tr>
            <tr><td>应发工资:{$salary.should_salary}</td></tr>
            <tr><td>扣款合计:{$salary.withhold_count}</td></tr>
            <tr><td>实发工资:{$salary.really_salary}</td></tr>

            {foreach from="$salary.extra_data" value="$extra_data"}

            <tr><td>{$extra_data.key}:{$extra_data.value}</td></tr>
            {/foreach}
        </table>
    </div>

    </body>
</html>