{include file="__TPL__/header.html" /}
<div id="userList">
    <form action="__METH__" method="get" id="search-form">
        <table class="table well" style="margin-bottom:-18px;">
            <tr>
                <th></th>
                <th>用户名</th>
                <th>请输入完整的姓名</th>
                <th>地址</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" name="username" class="input-medium" value="{if value="$base.get.username|isset"}{$base.get.username}{/if}"></td>
                <td><input type="text" name="name" class="input-medium" value="{if value="$base.get.name|isset"}{$base.get.name}{/if}"></td>
                <td><input type="text" name="content" class="input-medium" value="{if value="$base.get.content|isset"}{$base.get.content|urldecode}{/if}"></td>
                <th><input type="text" name="start_time" class="input-medium" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',autoPickDate:true})"></th>
                <th><input type="text" name="end_time" class="input-medium" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',autoPickDate:true})"></th>
                <td colspan="2">
                    <button type="submit" class="btn btn-success"><i class="icon-search icon-white"></i>&nbsp;&nbsp;查询</button>
                    <a id="reset" class="btn btn-info"><i class="icon-refresh icon-white"></i>&nbsp;&nbsp;重置</a>
                </td>
                <td></td>
                <script type="text/javascript">
                    $("select[select]").each(function(e,obj){

                        $(this).val($(this).attr('select'));
                    })
                    $('#reset').click(function(){

                        $('#search-form :input').val('');
                        $('#search-form').submit();
                    });
                </script>
            </tr>
        </table>
    </form>
    <table id="user-list" class="table">
        <tr>
            <!--<th>ID</th>-->
            <th>用户id</th>
            <th>用户名</th>
            <th>姓名</th>
            <th>地址</th>
            <th>经度</th>
            <th>纬度</th>
            <th>时间</th>
        </tr>
        {foreach from="$salas" value="$salas"}
        <tr>
            <!--<td>{$salas.id}</td>-->
            <td>{$salas.uid}</td>
            <td>{$salas.username}</td>
            <td>{$salas.name}</td>
            <td>{$salas.content}</td>
            <td>{$salas.lng}</td>
            <td>{$salas.lat}</td>
            <td>{$salas.created | date:'Y-m-d H:i:s',@@}</td>
        </tr>
        {/foreach}
        <tr class="well">
            <!--<td><input type="checkbox" class="select-all input-checkbox"></td>-->
            <td class="opt" colspan="2">
                <!--<a class="btn btn-mini btn-danger" action="del"><i class="icon-trash icon-white"></i> 删除</a>-->
                <a class="btn btn-mini btn-info" action="ban"><i class="icon-ban-circle icon-white"></i> 禁止</a>
                <a class="btn btn-mini btn-success" action="unban"><i class="icon-ok icon-white"></i> 解禁</a>
            </td>
            <td colspan="4">
                {$pages}
            </td>
        </tr>

    </table>
</div>

<!--<div id="dialog" style="z-idnex:999"></div>-->

</body>
</html>
