<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	{css file="bootstrap" /}
    {css file="__TPL__/css/public.css"}
    {css file="jqueryUI.bootstrap" /}
    {jquery /}
    {js file="jqueryUI"}
</head>
<body>
	<div class="user-info">
	<?php
		$data=new data('resume_basic');
		$userinfo=$data->convert($userinfo);
	?>
		<div id="tabs">

			<div id="tabs-1">
				<table class="table">
					<tr>
						<th>用户ID</th>
						<td>{$userinfo.uid}</td>
					</tr>
					<tr>
						<th>手机号码</th>
						<td>{$userinfo.username}</td>
					</tr>
					<tr>
						<th>创建时间</th>
						<td>{$userinfo.created|date:'Y-m-d H:i:s',@@}</td>
					</tr>
					<tr>
						<th>用户积分</th>
						<td> <span class="success">{$userinfo.point}</span></td>
					</tr>
                    <tr>
                        <th>用户佣金</th>
                        <td> <span class="success">{$userinfo.commission}</span></td>
                    </tr>
					<tr>
						<th>公司名称</th>
						<td> <span class="success">{$userinfo.company_name}</span></td>
					</tr>
					<tr>
						<th>最后登录</th>
						<td>{$userinfo.last_login|date:'Y-m-d H:i:s',@@}</td>
					</tr>
					<tr>
						<th>登录IP</th>
						<td>{$userinfo.last_ip}</td>
					</tr>
					{if value="$userinfo.banned"}
						<tr>
							<th>禁止</th>
							<td><span class="warning">账户已禁止：</span> <span class="tips">{$userinfo.ban_reason}</span></td>
						</tr>
					{/if}
				</table>
			</div>
			<div id="tabs-2">
				<table class="table">
					<tr>
						<th>姓名</th>
						<td>{$userinfo.name}</td>
					</tr>

					<tr>
						<th>出生年份</th>
						<td>{$userinfo.birthday}</td>
					</tr>
                    <tr>
                        <th>身份证号</th>
                        <td>{$userinfo.id_number}</td>
                    </tr>
					<tr>
						<th>身份证地址</th>
						<td>{$userinfo.card_address}</td>
					</tr>

                    <tr>
                        <th>照片(旧版)</th>
                        <td>{if value="$userinfo.photo==null"}
                        <span>暂无</span>
                            {else}
                            <img src="{$userinfo.photo}" width="350px" height="200px">
                            {/if}
                        </td>
                    </tr>
					<tr>
						<th>身份证脸面</th>
						<td>{if value="$userinfo.face_base==null"}
							<span>暂无</span>
							{else}
							<a href="{$userinfo.face_base}"><img src="{$userinfo.face_base}" width="350px" height="200px"></a>
							{/if}
						</td>
					</tr>
					<tr>
						<th>身份证国徽面</th>
						<td>{if value="$userinfo.back_base==null"}
							<span>暂无</span>
							{else}
							<a href="{$userinfo.back_base}"><img src="{$userinfo.back_base}" width="350px" height="200px"></a>
							{/if}
						</td>
					</tr>
                    <tr>
                        <th>身份证是否认证</th>
                        <td>
                            {if value="$userinfo.verify==0"}
                            <span class="warning">未认证</span>
                            {elseif value="$userinfo.verify==1"}
                            <span class="warning">待审核</span>
                            {elseif value="$userinfo.verify==3"}
                            <span class="success">已认证</span>
                            {/if}
                        </td>
                    </tr>

				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$('#tabs').tabs();
	</script>
</body>
</html>