*{ border: 0px; padding: 0px; margin: 0px; outline: 0;}
html,body {font-family:"microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei", sans-serif;color:#444444;}
a {color: #333;text-decoration: none;}
h1{display:none;}
a:visited{ color:#999}
a:hover{ color:#35B0E9;}
body{ position:relative;background: #f3f3f3;  color:#444;}
/* .fr { float:right }
 */.fl { float:left }
.clear { clear:both }
.u_avatar{ width:65px; height:65px; border-radius:100%;}
.wrap{max-width:720px; margin:0 auto; position:relative; overflow:hidden;}

.datainfo{ background:#fff; margin:150px 0 0 0;font-size:30px;}
.datainfo .hd{ height:68px; padding:10px 20px; text-align:left;}
.datainfo .hd .lft{ float:left; width:75%;}
.datainfo .hd .lft .avatar{ float:left; }
.datainfo .hd .lft .info { margin-left:77px;}
.datainfo .hd .lft .info label{  padding-right:10px;color:#6e6e6e;}
.datainfo .hd .lft .info label i{ padding-left:10px; position:relative; top:3px;}
.datainfo .hd .lft .info span{ display:block; font-size:20px; color:#777; background: url(../images/img5.png) no-repeat left center; padding-left:24px;overflow:hidden;}
.datainfo .bd .desc{ display:inline-block;height:100%;padding:20px; padding-bottom:0; }
.datainfo .bd .desc .content{ }
/* .datainfo .bd .desc pre{font-size:20px;}display:inline-block;
 */.datainfo .bd .thumb{width:100%; margin:20px 10px 10px;}
.datainfo .bd .thumb .img{width:200px;display:inline-block;margin-left:10px ;}
.datainfo .bd .thumb img{ width:100%;}

.datainfo  .from{ padding:0px 10px;padding-bottom:0; color:#399cff;}
.datainfo  .from strong{ color:#999;}
.datainfo .bd .action{ padding:30px 20px; height:68px;}
.datainfo .bd .action .like{ width:125px; height:65px; background:#EFEFEF url(../images/img71.png) no-repeat 15px center; text-align:center; text-indent:30px; border-radius:8px; line-height:65px; color:#888; float:right;}
.datainfo .bd .action .like.selected,.datainfo .bd .action .like:hover{ background:#EFEFEF url(../images/img7_.png) no-repeat 15px center; }
.datainfo .bd .action .post{ width:125px; height:65px; background:#EFEFEF url(../images/img82.png) no-repeat 15px center; text-align:center; text-indent:30px; border-radius:8px; line-height:65px;  color:#888; float:right;margin-right:10px;}
.datainfo .bd .action .displays{ width:125px; height:65px; background: url(../images/img93.png) no-repeat 15px center; text-align:center; text-indent:30px; border-radius:8px; line-height:65px; color:#888; float:left}
.datainfo .ft{ height:35px; line-height:35px; padding:20px 20px; font-size:26px; color:#999; border-top:1px solid #E2E2E2;}
.datainfo .ft strong{ color:#399cff;}
.datainfo .ft .fr{ float:right  }


#top{width:100%;height:130px;position:fixed;top:0;margin:0;padding:0;z-index:2;border-bottom:2px solid #f3f3f3;}
#end{width:100%;height:100px;position:fixed;bottom:0;margin:0;padding:0;z-index:2;border-bottom:2px solid #f3f3f3;}

.download{margin:0 auto;height:100%;max-width:720px;background:#fff;  filter:alpha(Opacity=90); opacity: 0.9;  }
.download input{display:inline-block;}
.center{position: relative;margin:0 auto;text-align:center;}
#pic{position: relative;width:100%;}
.download_btn{float:right;height:40px;width:160px;padding:20px;margin:25px 10px;background:#0cacff;text-align:center;color:#fff;border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;}
.download_btn span{line-height:40px;font-size:35px;}
.foot_icon{float:left;margin:10px;}
.foot_icon img{width:120px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;}
.foot_title{width:350px;float:left;margin:20px 0;}
.foot_title span{display:block;font-size:25px;}
.foot_title .t{color:#000;line-height:50px;font-size:32px;}
.foot_title .b{color:#898d90;line-height:40px;}

.more_tit{color:#898d90; padding:15px;display:block;font-size: 26px; }

.more{max-width:720px;background:#0cacff;margin:30px 0 0;display:block; text-align:center; height:100px;line-height:100px;}
.more span{color:#fff;}
.more a { font-size: 38px;}

.other .thread{font-size:26px; float:left;width:50%;display:block;}
.thread .row{ height:560px;width:94%;margin:10px 0  0 10px; background:#fff; overflow:hidden;  }
.thread .hd{ height:68px; padding:10px 10px; text-align:left;  width:88%;}
.thread .hd .avatar{ float:left; width:65px; height:65px; border-radius:100%;}
.thread .hd .info { margin-left:77px;width:80%;}
.thread .hd .info label{  padding-right:10px;}
.thread .hd .info label i{ padding-left:10px; position:relative; top:3px;}
.thread .hd .info span{ display:block; font-size:20px; color:#777; background: url(../images/img5.png) no-repeat left center; padding-left:24px;}
.thread .img{ height:350px;width:100%;  text-align:center;overflow:hidden;padding:5px;}
.thread .img img{width:100%;overflow:hidden; }
.thread .message{text-align:left;width:95%;height:70px; margin:15px 8px 5px; overflow:hidden; }

.postlist{ background:#fff;  position:relative;padding:10px;font-size:26px;}
.postlist .hd{ height:68px; padding:10px 20px; text-align:left;}
.postlist .hd .lft{ float:left; width:75%;}
.postlist .hd .lft .avatar{ float:left; }
.postlist .hd .lft .info { margin-left:77px;}
.postlist .hd .lft .info label{  padding-right:10px;}
.postlist .hd .lft .info label i{ padding-left:10px; position:relative; top:3px;}
.postlist .hd .lft .info span{ display:block;  color:#777; background: url(../images/img5.png) no-repeat left center; padding-left:24px;}
.postlist .hd .mark{ float:right; width:20%;text-align:right;color:#999;}
.postlist .hd .mark span{bordeR:1px solidr red;}
.postlist .bd {margin:0  0 0 100px;width:80%;height:100%;  }
.postlist  .posttime{ margin:25px 0 25px 100px;font-size:20px;}
.postlist  .hr {margin:15px 0 25px 100px;border-bottom:1px solid #898d90;}

.end_download{position:relative;margin:30px 0 130px 0;height:200px;font-size:28px;}
.end_download .sub_download{margin:0 auto;height:100%;width:720px;background:#fff;  filter:alpha(Opacity=90); opacity: 0.9;  }
.end_download .sub_download .sub_foot_icon{float:left;margin:10px;}
.end_download .sub_download .sub_foot_icon img{width:180px;border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px;}
.end_download .sub_download .sub_foot_title{width:70%;float:left;margin:20px 0;}
.end_download .sub_download .sub_foot_title .t{color:#898d90;  line-height:50px;}
.end_download .sub_download .sub_foot_title .b{color:#000; margin-top:12px;}
.end_download .sub_download .sub_foot_title .b a{color:#9cc3d9;}

.more_post{display:block; margin:0 auto; border-radius:40px;border:1px solid #898d90; line-height:70px; text-align:center;width:80%; color:#9cc3d9;}