@charset "utf-8";
*{ margin:0; padding:0;}
html{ height:100%;-webkit-font-smoothing:subpixel-antialiased;-webkit-tap-highlight-color:transparent;-webkit-touch-callout: none;  -webkit-user-select: none; background: #f8f8f8;}
body{font-family:Verdana, Geneva,"微软雅黑";color:#333; font-size:12px; line-height:1.5;-webkit-text-size-adjust:none}
img{vertical-align:top;border:0;}
input,button{ border:0;background: none;}
h1,h2{ font-weight:normal;}
a{ text-decoration:none; color:#444;}a:hover{ color:#008ccc !important}
ul {list-style:none;}
.left{ float:left;}
.right{ float:right;}
.clear{ clear:both;}
#top_top{
    line-height: 46px;
    background: #F3F3F3 none repeat scroll 0% 0%;
    text-align: center;
    width: 100%;
    font-size: 16px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
}
#top_top a {
    overflow: hidden;
    display: block;
    float: left;
    height: 46px;
}

#top_top img {
    float: left;
    padding-top: 11px;
    padding-left: 15px;
}

#top_title{ width:100%; height:20%;}
.xingbie{ position: absolute; width:16px; height:18px; right:0; top:5px;}
.xingbie img{ width:100%;}
.top_title_tx{ width:50px; height:50px;float:left;margin: 5px;}
.top_title_font{ float:left; padding-left:2%; }
.top_title_name{font-size:16px; font-family:"微软雅黑"; text-align:left;color:#111; position:relative;padding-top: 9px;}
.top_title_date{ font-size:12px; font-family:"微软雅黑";color:#999; line-height:20px;}
.top_title_date span{ padding-left:10px; color:#29c1f6;}
.top_title_tx img{ width:100%;border-radius: 4px;}

.content{ width:94%; padding:2% 3%;overflow: hidden;border-top:1px solid #ddd;background: #fff;}
.content_font{ width:100%; font-size:16px; padding-top:3%; color:#545454;}
.content ul{ width:100%; display: block; overflow: hidden;}
.content ul li{ float:left; width:30%; margin:1% 1%; height:90px; overflow: hidden;}
.content ul li img{ width:100%;}
.content_1{ width:100%; background:#f8f8f8;border-top:1px solid #ddd;height:84px; overflow: hidden;padding-bottom:22px;position: relative;}
.content_1_list{ width:94%;line-height: 28px; padding:0 3%;}
.content_1_list p{ font-size:16px;}
.more1{ position: absolute;left:3%; bottom: 0; line-height: 22px; font-size: 14px; width: 100%; background: #f8f8f8; color:#29C1F6;}

.langse{ color:#29c1f6;}
.feise{ color:#757575;}
.content_1_list span{ font-size:14px;}
.fengxiang{
    width:100%;
    height:34px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    background:#FFF;
    margin-bottom:2%;
    display:-moz-box; /* Firefox */
    display:-webkit-box; /* Safari and Chrome */
    text-align: center;
;}
.fxaniu{
    font-size:14px;
    line-height: 24px;
    /*float:left; */
    color:#999;
    /*padding: 1.5% 10% 0px;*/
    border-right: 1px solid #ddd;
    -moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0;/* Safari and Chrome */
    box-flex:1.0;
    margin: 5px 0;
}
.fxaniu:nth-child(3){ border-right: 0;}
.fxaniu img{ width:18px;height:18px;padding-top:3px;}
.more{ font-size:14px; color:#29c1f6; padding-left:2%;}
.more a{color:#29c1f6; }
.shurukuan{ width:94%; padding:1% 3%; background:#FFF; border-bottom:1px solid #CCC; position:relative;}
.suruk{ border:none;width:94%; height:230px; font-size:12px; color:#999; font-family:"微软雅黑";}
.pohots{ height:60px; width:96%; padding:0 2%; position:absolute; bottom:2%; left:0;}
.pohots_left img{ height:100%;}
.pohots_left{ float:left;height:60px; margin-left:1%}
.jifeng{width:94%; margin:2% 3%; background:#fff; border:1px solid #eee;box-shadow:0 1px 1px #ccc; border-bottom:none; padding-bottom:2%; padding-bottom:1%;}
.jifeng_tp{ width:100%;background:#fff; height: 220px; overflow: hidden;}
.jifeng_tp img{ width:96%; border:1px solid #eee; margin:2%;}
.jifeng_wz{ font-size:16px; padding:0 2%; color:#333;width:96%;}
.langse_wz{ font-size:14px; padding:0 2%; color:#333;width:96%; text-align:right;color:#29c1f6;}
.jifeng_anniu{ color:#FFF; width:96%; height:40px; line-height:40px; background:#29c1f6;margin:2% 1%; text-align:center; font-size:16px;border-radius:3px;-moz-border-radius:3px;}
.feise_anniu{ color:#FFF; width:96%; height:40px; line-height:40px; background:#666;margin:2% 2%; text-align:center; font-size:16px;border-radius:3px;-moz-border-radius:3px; font-family: "微软雅黑";}
.famle{
    float: right;
    display: block;
    height: 15px;
    width: 15px;
    background: url("../images/nv.png") no-repeat center;
    background-size: 11px 15px;
    position: absolute;
    top: 14px;
    right:-16px;
}

.male{
    float: right;
    display: block;
    height: 15px;
    width: 15px;
    background: url("../images/index_fx_03.png") no-repeat center;
    background-size: 12px 12px;
    position: absolute;
    top: 14px;
    right: -16px;
}

.jifeng_xqy{width:100%; background:#fff;}
.jifeng_xqy_tp img{ width:100%; border-bottom:1px solid #ddd;}
.jifeng_xqy_wz{ font-size:18px; font-family: "微软雅黑";padding:0 2%;width:96%; margin-top:6px;}
.langse_xqy_wz{ width:96%; padding:2% 2%; }
.langse_xqy_wz p{ float:left; font-size:14px;color:#999; }
.langse_xqy_wz span{ float:right; font-size:16px;color:#29c1f6; }
.sp_jj{width:96%; padding:2% 2% 60px 2%; border-top:1px solid #CCC; margin-top:2%;}
.sp_jj h2{ color:#666; font-size:14px;font-family: "微软雅黑"; font-weight:600;}
.sp_jj h3{ color:#666; font-size:12px; line-height:32px;font-family: "微软雅黑"; font-weight:normal;}
.sp_jj p{ color:#666; font-size:12px;font-family: "微软雅黑"; line-height:18px;}
.ljdh{ background:#f3f3f3; position:fixed;box-shadow:-1px -1px 1px #ccc; width:100%; height:50px; bottom:0;}
.ljdh_anniu{border-radius:3px;-moz-border-radius:3px;background:#29c1f6; width:70%; height:38px; line-height: 38px; text-align: center; margin-left:15%; margin-top:6px; font-weight:bold; font-size:16px; color:#FFF; font-family: "微软雅黑";}
.time{ font-size:16px; color:#ff2851; padding-left:2%;}
.time2{ font-size:14px; color:#ff2851; padding-left:2%;}
.langse_wz p{ float:left; font-size:14px;color:#999; }
.langse_wz span{ float:right; font-size:14px;color:#29c1f6; }
.top_title_img{background:url("../images/toux.png") no-repeat center; height: 50px; width: 50px;background-size: 100%; overflow: hidden; border-radius: 3px;}


.top>ul{
    display:-moz-box; /* Firefox */
    display:-webkit-box; /* Safari and Chrome */
    width: 100%;
}
.top>ul>li{
    -moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0;/* Safari and Chrome */
    box-flex:1.0;
    float:left;
    height:50px;
    font-size:14px;
    padding:12px 0 10px;
    text-align:center;
}

.toxiang_text{ float: left;}

.ding{float: right; padding-top: 12px;}