<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {css file="bootstrap" /}
        {js file="jquery" /}
        {js file="jquery.validate" /}
        {js file="__ROOT__/public/js/jqueryValidate/jquery.metadata.js" /}
        {js file="jquery.colorPicker" /}
        {js file="datepicker" /}
        {js file="__ROOT__/caches/js/linkage_data.js" /}
        {js file="__ROOT__/caches/js/linkage_style_1.js" /}
    </head>
    <body>
        <div id="add-form">
            <form action="__METH__" method="post" validate="true" enctype="multipart/form-data">
                <table>
                    <tr>
                        <th>门店名称：</th>
                        <td><input type="text" name="name" validate="{required:true}" value="{$goods.name}" /></td>
                    </tr>

                    <tr>
                        <th>门店地址：</th>
                        <td><input type="text" name="address" validate="{required:true}" value="{$goods.address}" />
                        <input type="hidden" name="id" validate="{required:true}" value="{$goods.id}" />
                        </td>
                    </tr>


                    <tr>
                        <th>联系人：</th>
                        <td><input type="text" name="contacter" validate="{required:true}" value="{$goods.contacter}" /></td>
                    </tr> 
                   
                   
                    <tr>
                        <th>联系人手机号：</th>
                        <td><input type="text" name="phonenumber" validate="{required:true}" value="{$goods.phonenumber}" /></td>
                    </tr>
                </table>
   
                <script type="text/javascript">
                    $('#cate').change(function(){
                        $('[class^=cate_c_]').hide();
                        $('[class^=cate_c_] input').attr('disabled',true);
                        $('.'+$(this).find(':checked').attr('cate')).show();
                        $('.'+$(this).find(':checked').attr('cate')+' input').attr('disabled',false);
                    });
                </script>
                <table>
                    <tr>
                        <th></th>
                        <td><button type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i> 修改</button></td>
                    </tr>
                </table>
            </form>
        </div>
        <script type="text/javascript">
            function show_area(aname){
                $('[class^=cate_c_]').hide();
                $('[class^=cate_c_] input').attr('disabled',true);
                $('[class^=cate_c_] textarea').attr('disabled',true);
                $('.'+aname).show();
                $('.'+aname+' input').attr('disabled',false);
                $('.'+aname+' textarea').attr('disabled',false);
            }
            show_area($('#cate').find(':checked').attr('cate'));
            $('#cate').change(function(){
                show_area($(this).find(':checked').attr('cate'));
            });
            
        </script>
        <style type="text/css">
            #jquery-colour-picker{
                width: 220px;
            }
            table th{
                width: 95px;
                text-align:right;
            }
            .cate-title{
                width: 200px;
                height: 40px;
            }
            table label{
                width: 70px;
                float: left;
                text-indent:0.3em;
            }
            table label input{
                display:block;
                padding-right:20px;
                float: left;
            }
        </style>
        <script type="text/javascript">
            $(function(){
                {if value="$ads.type=='2' && $ads.path|substr:@@,0,4!='http'"}
               uploadSuccess({"id":"SWFUpload_0_0","index":"0","size":"5870","name":"zhang.jpg"},'{"state":"SUCCESS","fid":"6bdf9bfeeb5eaaa762c44699578175c7","thumb":{"file":"__ROOT__/{$ads.path}","w":"200","h":"200"},"file":[{"path":"{$ads.path}","url":"__ROOT__/{$ads.path}"}]}');
               {/if}
            });
        </script>
    </body>
</html>
