<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title></title>
	<link href="__TPL__/css/class2.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="__TPL__/css/swiper.3.1.2.min.css" />
	<script type="text/javascript" src="__TPL__/js/lazyload.js" ></script>
	<!--<script type="text/javascript" src="__TPL__/js/zepto.min.js" ></script>-->
	<!--<script type="text/javascript" src="__TPL__/js/swiper.3.1.2.min.js" ></script>-->

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
</head>

<body id="body">
<!-- Swiper -->
{foreach from="$classs"  value="$class"}
<article>
	<h2>{$class.title}</h2>
	{foreach from="$class.class2"  value="$class2"}
	<nav class="nav">
		<ul class="job2">
			{foreach from="$class2" value="$class22"}
			<li class="haover">{$class22.title}</li>
			{/foreach}
			<!--<li >销售</li>-->
			<!--<li style="border: none;">司机</li>-->
		</ul>
		<?php $xsj=0;?>
		{foreach from="$class2" value="$class22"}

		<div class="job3" id="job3_{$class22.laid}">
			<div class="xsj{$xsj}">
				<img src="__TPL__/images/xiaosj.png">
			</div>
			<div class="swiper-container">
				<div class="swiper-wrapper">

					<div class="swiper-slide">
						<?php $i=0;?>
						{foreach from="$class22.class3" value="$class3"}

						{if value="$i%9==0&&$i!=0"}</div><div class="swiper-slide">{/if}
					<li data-id="{$class3.laid}">{$class3.title}</li>
					<?php $i++;?>
					{/foreach}
				</div>

				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination qhan"></div>

			</div>
		</div>
		<?php $xsj++;?>
		{/foreach}
	</nav>
	{/foreach}
</article>
<div class="clear"></div>
{/foreach}
</body>
</html>
<script type="text/javascript" charset="utf-8">

	function loadComplete(){
//		alert(1);
	}

	function loadscript()

	{

		LazyLoad.js([

			'__TPL__/js/zepto.min.js',

			'__TPL__/js/swiper.3.1.2.min.js',

			'__TPL__/js/class.js'

		], loadComplete);

	}

	setTimeout(loadscript,10);

</script>

<!--<script type="text/javascript" src="__TPL__/js/class.js" ></script>-->

