<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript">
    var url='__ROOT__';
</script>
{js file="jquery" /}
{js file="__ROOT__/caches/js/linkage_data.js" /}
{js file="__ROOT__/public/js/linkage/linkage_style_2.js" /}
{js file="__ROOT__/public/js/linkage/linkage_style_1.js" /}
{css file="__ROOT__/public/js/artDialog/skins/blue.css" /}
{js file="__ROOT__/public/js/artDialog/jquery.artDialog.min.js" /}
</head>
<body>
<div id="content">
        <style>
            .relieved label input{ float: left;}
            .relieved label{
                width:50px;
                text-align: right;
                float: left;
                margin-right: 20px;
            }
            #opt-area .error{
                color: #F00;
            }
        </style>

        <div id="opt-area">
            <h2 class="data-title">企业资料</h2>
            <form id="company-data-form" validate="true" method="post" action="__METH__">
                <table class="table-list table-form">
                    <tr>
                        <th>公司名称</th>
                        <td><input type="text" name="name"  class="required" value="{$company.name}" /></td>
                        <td class="error"><span></span></td>
                    </tr>
                    <tr>
                        <th>公司行业</th>
                        <td>{linkage data="3" style="2" field="company_industry" checkbox="true" defaults="$company['company_industry']"}{/linkage}</td>
                        <td class="error"><span></span></td>
                    </tr>
                    <tr>
                        <th>公司类型</th>
                        <td>
                            <select name="company_property" class="input-medium" validate="{required:true}">
                                <option value="">请选择</option>
                                <?php $recruit = include PATH_ROOT . '/caches/model/field/m_recruit.php';
                                $switch=$recruit['company_property']['data'];
                                ?>
                                {foreach from="$switch" key="$k" value="$v"}
                                {if value="$company.company_property==$k"}
                                <option value="{$k}" selected>{$v}</option>
                                {else /}
                                <option value="{$k}">{$v}</option>
                                {/if}
                                {/foreach}
                            </select>
                        </td>
                        <td class="error"><span></span></td>
                    </tr>
                    <tr>
                        <th>公司规模</th>
                        <td>
                            <select name="company_scope" class="input-medium" validate="{required:true}">
                                <option value="">请选择</option>
                                <?php $switch=$recruit['company_scope']['data'];?>
                                {foreach from="$switch" key="$k" value="$v"}
                                {if value="$company.company_scope==$k"}
                                <option value="{$k}" selected>{$v}</option>
                                {else /}
                                <option value="{$k}">{$v}</option>
                                {/if}
                                {/foreach}
                            </select>
                        </td>
                        <td class="error"><span></span></td>
                    </tr>
                    <tr>
                        <th>公司描述</th>
                        <td>
                            <textarea name="desc" id="desc" rows="6" cols="20">{$company.desc}</textarea>
                        </td>
                        <td class="error"><span></span></td>
                    </tr>
                    <tr>
                        <th>公司位置</th>
                        <td>
                            {linkage data="city" field="address#city#town" style="1" attr='class="input-medium"' defaults="$company['address']#$company['city']#$company['town']"}
                            {/linkage}
                        </td>
                        <td class="error"><span></span></td>
                    </tr>
                    <tr>
                        <th>详细地址</th>
                        <td><input type="text" name="street" class="input" value="{$company.street}" /></td>
                        <td class="error"></td>
                    </tr>
                    <tr>
                        <th>联系人</th>
                        <td><input type="text" name="contact_person" class="required" value="{$company.contact_person}" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>联系电话（手机）</th>
                        <td><input type="text" name="contact_tel" class="input" value="{$company.contact_tel}" /></td>
                        <td class="error"><span></span></td>
                    </tr>
                    <tr>
                        <th>公司星级</th>
                        <td><select name="star" class="input-mini" {if value="$base.get.state|isset"}select="{$base.get.state}"{/if}>
                            <option value="">请选择</option>
                            <option value="1">一星</option>
                            <option value="2">二星</option>
                            <option value="3">三星</option>
                            <option value="4">四星</option>
                            <option value="5">五星</option>
                            </select>
                        </td>
                        <td class="error"><span></span></td>
                    </tr>
                    <tr>
                        <th>是否为放心企业</th>
                        <td class="relieved"><label><input type="radio" name="relieved" value="1" checked />是</label>
                            <label><input type="radio" name="relieved" value="0" />否</label>
                        </td>
                    </tr>
                    <tr>
                        <th>联系人Email</th>
                        <td><input type="text" name="link_email" class="input" value="{$company.link_email}" /></td>
                        <td class="error"><span></span></td>
                    </tr>
                    <tr>
                        <th>公司logo</th>
                        <td>{upload size="2" type="jpg,png,gif" limit="1" text="上传logo" name="path" dir="uploads/company" /}</td>
                    </tr>
                    <tr>
                        <th>营业执照</th>
                        <td>{upload size="2" type="jpg,png,gif" limit="1" text="上传执照" name="license" dir="uploads/company" /}</td>
                    </tr>
                    <tr>
                        <th>纬,经度</th>
                        <td>
                        <input name="point"  id="point" placeholder="纬度,经度" class="create_input" type="text">
                        <a target="_blank" href="http://www.gpsspg.com/maps.htm">坐标拾取(腾讯高德)</a>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><button id="confirm" class="btn" type="submit">添加</button></td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
        <!--/opt-area-->
    </div>
    <!--/opt-->
</div>
{js file="jquery.validate" /}
<script type="text/javascript" src="__ROOT__/public/js/jqueryValidate/jquery.metadata.js"></script>
</body>
</html>