<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    {css file="bootstrap" /}
    {css file="__TPL__/css/public.css"}
    {css file="jqueryUI.bootstrap" /}
    {jquery /}
    {js file="jqueryUI"}
    {js file="jquery.validate" /}
    <script type="text/javascript" src="__ROOT__/public/js/jqueryValidate/jquery.metadata.js"></script>
</head>
<body>
<!--/page-nav-->
<form action="__CONTROL__/editInterview/id/{$interview.id}" validate="true" method="post" class="sub">
    <table class="table well">
        <tr>
            <th>面试日期</th>
            <td><input type="text" name="interview_time" value="{$interview.interview_time|date:'Y-m-d',@@}"></td>
        </tr>
        <tr>
            <th>来源</th>
            <td><input type="text" name="originer" value="{$interview.originer}"></td>
        </tr>
        <tr>
            <th>姓名</th>
            <td><input type="text" name="name" value="{$interview.name}"></td>
        </tr>
        <tr>
            <th>性别</th>
            <td><input type="text" name="sex" value="{$interview.sex}"></td>
        </tr>
        <tr>
            <th>身份证</th>
            <td><input type="text" name="identity" value="{$interview.identity}"></td>
        </tr>
        <tr>
            <th>附属中介</th>
            <td><input type="text" name="membership_mediation" value="{$interview.membership_mediation}"></td>
        </tr>
        <tr>
            <th>输入单位</th>
            <td><input type="text" name="company" value="{$interview.company}"></td>
        </tr>
        <tr>
            <th>性质</th>
            <td><input type="text" name="nature" value="{$interview.nature}"></td>
        </tr>
        <tr>
            <th>隶属公司</th>
            <td><input type="text" name="membership_company" value="{$interview.membership_company}"></td>
        </tr>
        <tr>
            <th>备注</th>
            <td><input type="text" name="note" value="{$interview.note}"></td>
        </tr>
        <tr>
            <th>资源地</th>
            <td><input type="text" name="resource_place" value="{$interview.resource_place}"></td>
        </tr>

    </table>
</form>
<!--/opt-->
</div>

<script type="text/javascript" src="__ROOT__/public/js/jqueryValidate/jquery.validate.min.js"></script>
<script type="text/javascript" src="__ROOT__/public/js/jqueryValidate/jquery.metadata.js"></script>
</body>
</html>