<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>快乐人才招聘系统</title>
    <meta name="keywords" content="快乐工作" />
    <meta name="description" content="快乐工作" />
    <link type="text/css" rel="stylesheet" href="__ROOT__/public/css/base.css"/>
    <link type="text/css" rel="stylesheet" href="__ROOT__/templates/default/css/company.css"/>
    <link type="text/css" rel="stylesheet" href="__ROOT__/templates/default/css/common.css"/>
    <script type="text/javascript" src="__ROOT__/public/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__ROOT__/public/js/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        var url='__ROOT__';
    </script>
    <style type="text/css">
        #opt-area .table-form th{
            width: 20%;
        }
    </style>
</head>
<body>
<!--/page-nav-->
<form action="__METH__" validate="true" method="post" enctype="multipart/form-data">
    <div id="content">
    <!--opt-area-->
        <div id="opt-area">
            <h2 class="data-title">修改职位</h2>
                {_field model="5" type="edit"}
                    <input type="hidden" name="recruit_id" value="{$base.get.id}" />
                    <table class="table-form">
                        <tr>
                            <th></th>
                            <input type="hidden" name="recruit_id" value="{$field.recruit_id}">
                            <td><button class="btn btn-large" />修改</button></td>
                        </tr>
                    </table>
                {/_field}
        </div>
    <!--/opt-area-->
    </div>
</form>
<!--/opt-->
</div>

<script>
    $(function(){
        $("input[name='issue_type']:eq(0)").click(function(){
            $("#start_time").val('').hide();
        });
        $("input[name='issue_type']:eq(1)").click(function(){
            $("#start_time").val('点击选择日期').show();
        });
    });
</script>

<script type="text/javascript" src="__ROOT__/public/js/jqueryValidate/jquery.validate.min.js"></script>
<script type="text/javascript" src="__ROOT__/public/js/jqueryValidate/jquery.metadata.js"></script>
</body>
</html>