 <!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	{css file="bootstrap" /}
    {css file="__TPL__/css/public.css"}
    {css file="jqueryUI.bootstrap" /}
    {jquery /}
    {js file="jqueryUI"}
    {js file="jquery.validate" /}
	<script type="text/javascript" src="__ROOT__/public/js/jqueryValidate/jquery.metadata.js"></script>
</head>
<body>
	<div class="user-info">

	<form action="__CONTROL__/editReturnMoney/id/{$returnMoney.id}" validate="true" method="post" class="sub">
	<table class="table well">
        <p>*所有日期格式为2016-01-01或2016/01/01</p>
        <tr>
            <th>付款日期</th>
            <td>
                {if value="$returnMoney.pay_time==0"}
                <input type="text" name="pay_time" value="">
                {else /}
                <input type="text" name="pay_time" value="{$returnMoney.pay_time|date:'Y-m-d',@@}">
                {/if}
            </td>
        </tr>
        <tr>
            <th>批注</th>
            <td><input type="text" name="pnote" value="{$returnMoney.pnote}"></td>
        </tr>
        <tr>
            <th>渠道</th>
            <td><input type="text" name="origin" value="{$returnMoney.origin}"></td>
        </tr>
        <tr>
            <th>来源</th>
            <td><input type="text" name="originer" value="{$returnMoney.originer}"></td>
        </tr>
        <tr>
            <th>附属中介</th>
            <td><input type="text" name="membership_mediation" value="{$returnMoney.membership_mediation}"></td>
        </tr>
        <tr>
            <th>输入单位</th>
            <td><input type="text" name="company" value="{$returnMoney.company}"></td>
        </tr>
        <tr>
            <th>工号</th>
            <td><input type="text" name="number" value="{$returnMoney.number}"></td>
        </tr>
        <tr>
            <th>姓名</th>
            <td><input type="text" name="name" value="{$returnMoney.name}"></td>
        </tr>
        <tr>
            <th>性别</th>
            <td><input type="text" name="sex" value="{$returnMoney.sex}"></td>
        </tr>
        <tr>
            <th>身份证</th>
            <td><input type="text" name="identity" value="{$returnMoney.identity}"></td>
        </tr>
        <tr>
            <th>面试日期</th>
            <td>
                {if value="$returnMoney.interview_time==0"}
                <input type="text" name="interview_time" value="">
                {else /}
                <input type="text" name="interview_time" value="{$returnMoney.interview_time|date:'Y-m-d',@@}">
                {/if}
            </td>
        </tr>
        <tr>
            <th>上班日期</th>
            <td>
                {if value="$returnMoney.start_time==0"}
                <input type="text" name="start_time" value="">
                {else /}
                <input type="text" name="start_time" value="{$returnMoney.start_time|date:'Y-m-d',@@}">
                {/if}
            </td>
        </tr>
        <tr>
            <th>离职日期</th>
            <td>
                {if value="$returnMoney.leave_time==0"}
                <input type="text" name="leave_time" value="">
                {else /}
                <input type="text" name="leave_time" value="{$returnMoney.leave_time|date:'Y-m-d',@@}">
                {/if}
            </td>
        </tr>
        <tr>
            <th>薪资</th>
            <td><input type="text" name="salary" value="{$returnMoney.salary}"></td>
        </tr>
        <tr>
            <th>应发月份</th>
            <td><input type="text" name="month" value="{$returnMoney.month}"></td>
        </tr>
        <tr>
            <th>工时</th>
            <td><input type="text" name="work_time" value="{$returnMoney.work_time}"></td>
        </tr>
        <tr>
            <th>价格</th>
            <td><input type="text" name="price" value="{$returnMoney.price}"></td>
        </tr>
        <tr>
            <th>奖励</th>
            <td><input type="text" name="award" value="{$returnMoney.award}"></td>
        </tr>
        <tr>
            <th>价格单据编号</th>
            <td><input type="text" name="num" value="{$returnMoney.num}"></td>
        </tr>

        <tr>
            <th>隶属公司</th>
            <td><input type="text" name="membership_company" value="{$returnMoney.membership_company}"></td>
        </tr>
        <tr>
            <th>返款方式</th>
            <td><input type="text" name="return_money_way" value="{$returnMoney.return_money_way}"></td>
        </tr>
        <tr>
            <th>备注</th>
            <td><input type="text" name="note" value="{$returnMoney.note}"></td>
        </tr>
        <tr>
            <th>类型</th>
            <td><input type="text" name="type" value="{$returnMoney.type}"></td>
        </tr>
        <tr>
            <th>性质</th>
            <td><input type="text" name="nature" value="{$returnMoney.nature}"></td>
        </tr>
        <tr>
            <th>学校</th>
            <td><input type="text" name="school" value="{$returnMoney.school}"></td>
        </tr>
        <tr>
            <th>资源地</th>
            <td><input type="text" name="resource_place" value="{$returnMoney.resource_place}"></td>
        </tr>

	</table>
	</form>
	</div>
</body>
</html>