 <!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	{css file="bootstrap" /}
    {css file="__TPL__/css/public.css"}
    {css file="jqueryUI.bootstrap" /}
    {jquery /}
    {js file="jqueryUI"}
    {js file="jquery.validate" /}
	<script type="text/javascript" src="__ROOT__/public/js/jqueryValidate/jquery.metadata.js"></script>
</head>
<body>
	<div class="user-info">

	<form action="__CONTROL__/editResultTwo/id/{$resultTwo.id}" validate="true" method="post" class="sub">
	<table class="table well">
        <p>*所有日期格式为2016-01-01或2016/01/01</p>
        <tr>
            <th>付款日期</th>
            <td>
                {if value="$resultTwo.pay_time==0"}
                <input type="text" name="pay_time" value="">
                {else /}
                <input type="text" name="pay_time" value="{$resultTwo.pay_time|date:'Y-m-d',@@}">
                {/if}
            </td>
        </tr>
        <tr>
            <th>批注</th>
            <td><input type="text" name="pnote" value="{$resultTwo.pnote}"></td>
        </tr>
        <tr>
            <th>渠道</th>
            <td><input type="text" name="origin" value="{$resultTwo.origin}"></td>
        </tr>
        <tr>
            <th>来源</th>
            <td><input type="text" name="originer" value="{$resultTwo.originer}"></td>
        </tr>
        <tr>
            <th>附属中介</th>
            <td><input type="text" name="membership_mediation" value="{$resultTwo.membership_mediation}"></td>
        </tr>
        <tr>
            <th>输入单位</th>
            <td><input type="text" name="company" value="{$resultTwo.company}"></td>
        </tr>
        <tr>
            <th>工号</th>
            <td><input type="text" name="number" value="{$resultTwo.number}"></td>
        </tr>
        <tr>
            <th>姓名</th>
            <td><input type="text" name="name" value="{$resultTwo.name}"></td>
        </tr>
        <tr>
            <th>性别</th>
            <td><input type="text" name="sex" value="{$resultTwo.sex}"></td>
        </tr>
        <tr>
            <th>身份证</th>
            <td><input type="text" name="identity" value="{$resultTwo.identity}"></td>
        </tr>
        <tr>
            <th>面试日期</th>
            <td>
                {if value="$resultTwo.interview_time==0"}
                <input type="text" name="interview_time" value="">
                {else /}
                <input type="text" name="interview_time" value="{$resultTwo.interview_time|date:'Y-m-d',@@}">
                {/if}
            </td>
        </tr>
        <tr>
            <th>上班日期</th>
            <td>
                {if value="$resultTwo.start_time==0"}
                <input type="text" name="start_time" value="">
                {else /}
                <input type="text" name="start_time" value="{$resultTwo.start_time|date:'Y-m-d',@@}">
                {/if}
            </td>
        </tr>
        <tr>
            <th>离职日期</th>
            <td>
                {if value="$resultTwo.leave_time==0"}
                <input type="text" name="leave_time" value="">
                {else /}
                <input type="text" name="leave_time" value="{$resultTwo.leave_time|date:'Y-m-d',@@}">
                {/if}
            </td>
        </tr>
        <tr>
            <th>薪资</th>
            <td><input type="text" name="salary" value="{$resultTwo.salary}"></td>
        </tr>
        <tr>
            <th>应发月份</th>
            <td><input type="text" name="month" value="{$resultTwo.month}"></td>
        </tr>
        <tr>
            <th>工时</th>
            <td><input type="text" name="work_time" value="{$resultTwo.work_time}"></td>
        </tr>
        <tr>
            <th>价格</th>
            <td><input type="text" name="price" value="{$resultTwo.price}"></td>
        </tr>
        <tr>
            <th>奖励</th>
            <td><input type="text" name="award" value="{$resultTwo.award}"></td>
        </tr>
        <tr>
            <th>价格单据编号</th>
            <td><input type="text" name="num" value="{$resultTwo.num}"></td>
        </tr>

        <tr>
            <th>隶属公司</th>
            <td><input type="text" name="membership_company" value="{$resultTwo.membership_company}"></td>
        </tr>
        <tr>
            <th>返款方式</th>
            <td><input type="text" name="return_money_way" value="{$resultTwo.return_money_way}"></td>
        </tr>
        <tr>
            <th>备注</th>
            <td><input type="text" name="note" value="{$resultTwo.note}"></td>
        </tr>
        <tr>
            <th>类型</th>
            <td><input type="text" name="type" value="{$resultTwo.type}"></td>
        </tr>
        <tr>
            <th>性质</th>
            <td><input type="text" name="nature" value="{$resultTwo.nature}"></td>
        </tr>
        <tr>
            <th>学校</th>
            <td><input type="text" name="school" value="{$resultTwo.school}"></td>
        </tr>
        <tr>
            <th>资源地</th>
            <td><input type="text" name="resource_place" value="{$resultTwo.resource_place}"></td>
        </tr>

        <tr>
            <th>企业返利</th>
            <td><input type="text" name="return_money" value="{$resultTwo.return_money}"></td>
        </tr>
        <tr>
            <th>工资月份</th>
            <td><input type="text" name="salary_month" value="{$resultTwo.salary_month}"></td>
        </tr>
        <tr>
            <th>奖励方式</th>
            <td><input type="text" name="reward_way" value="{$resultTwo.reward_way}"></td>
        </tr>
        <tr>
            <th>反馈日期</th>
            <td>
                {if value="$resultTwo.feedback_time==0"}
                <input type="text" name="feedback_time" value="">
                {else /}
                <input type="text" name="feedback_time" value="{$resultTwo.feedback_time|date:'Y-m-d',@@}">
                {/if}
            </td>
        </tr>
	</table>
	</form>
	</div>
</body>
</html>