<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	{css file="bootstrap" /}
    {css file="__TPL__/css/public.css"}
    {css file="jqueryUI.bootstrap" /}
    {jquery /}
    {js file="jqueryUI"}
</head>
<body>
	<div class="user-info">
		<div id="tabs">

			<div id="tabs-1">
				<table class="table">
					<tr>
						<th>记录ID</th>
						<td>{$resultTwoInfo.id}</td>
					</tr>
					<tr>
						<th>渠道</th>
						<td>{$resultTwoInfo.origin}</td>
					</tr>
					<tr>
						<th>来源</th>
						<td>{$resultTwoInfo.originer}</td>
					</tr>
					<tr>
						<th>附属中介</th>
						<td>{$resultTwoInfo.membership_mediation}</td>
					</tr>
                    <tr>
                        <th>输入单位</th>
                        <td>{$resultTwoInfo.company}</td>
                    </tr>
					<tr>
						<th>工号</th>
						<td>{$resultTwoInfo.number}</td>
					</tr>
					<tr>
						<th>姓名</th>
						<td>{$resultTwoInfo.name}</td>
					</tr>
					<tr>
						<th>性别</th>
						<td>{$resultTwoInfo.sex}</td>
					</tr>
                    <tr>
                        <th>身份证</th>
                        <td>{$resultTwoInfo.identity}</td>
                    </tr>
                    <tr>
                        <th>面试日期</th>
                        <td>
                            {if value="$resultTwoInfo.interview_time==0"}无
                            {else /}
                            {$resultTwoInfo.interview_time|date:'Y-m-d',@@}
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <th>上班日期</th>
                        <td>
                            {if value="$resultTwoInfo.start_time==0"}无
                            {else /}
                            {$resultTwoInfo.start_time|date:'Y-m-d',@@}
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <th>离职日期</th>
                        <td>{if value="$resultTwoInfo.leave_time==0"}无
                            {else /}
                            {$resultTwoInfo.leave_time|date:'Y-m-d',@@}
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <th>薪资</th>
                        <td>{$resultTwoInfo.salary}</td>
                    </tr>
                    <tr>
                        <th>应发月份</th>
                        <td>{$resultTwoInfo.month}</td>
                    </tr>
                    <tr>
                        <th>工时</th>
                        <td>{$resultTwoInfo.work_time}</td>
                    </tr>
                    <tr>
                        <th>价格</th>
                        <td>{$resultTwoInfo.price}</td>
                    </tr>
                    <tr>
                        <th>奖励</th>
                        <td>{$resultTwoInfo.award}</td>
                    </tr>
                    <tr>
                        <th>价格单据编号</th>
                        <td>{$resultTwoInfo.num}</td>
                    </tr>
                    <tr>
                        <th>付款日期</th>
                        <td>
                            {if value="$resultTwoInfo.pay_time==0"}无
                            {else /}
                            {$resultTwoInfo.pay_time|date:'Y-m-d',@@}
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <th>隶属公司</th>
                        <td>{$resultTwoInfo.membership_company}</td>
                    </tr>
                    <tr>
                        <th>返款方式</th>
                        <td>{$resultTwoInfo.return_money_way}</td>
                    </tr>
                    <tr>
                        <th>备注</th>
                        <td>{$resultTwoInfo.note}</td>
                    </tr>
                    <tr>
                        <th>类型</th>
                        <td>{$resultTwoInfo.type}</td>
                    </tr>
                    <tr>
                        <th>性质</th>
                        <td>{$resultTwoInfo.nature}</td>
                    </tr>
                    <tr>
                        <th>学校</th>
                        <td>{$resultTwoInfo.school}</td>
                    </tr>
                    <tr>
                        <th>资源地</th>
                        <td>{$resultTwoInfo.resource_place}</td>
                    </tr>
                    <tr>
                        <th>批注</th>
                        <td>{$resultTwoInfo.pnote}</td>
                    </tr>
                    <tr>
                        <th>企业返利</th>
                        <td>{$resultTwoInfo.return_money}</td>
                    </tr>
                    <tr>
                        <th>工资月份</th>
                        <td>{$resultTwoInfo.salary_month}</td>
                    </tr>
                    <tr>
                        <th>奖励方式</th>
                        <td>{$resultTwoInfo.reward_way}</td>
                    </tr>
                    <tr>
                        <th>反馈日期</th>
                        <td>{if value="$resultTwoInfo.feedback_time==0"}无
                            {else /}
                            {$resultTwoInfo.feedback_time|date:'Y-m-d',@@}
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <th>创建时间</th>
                        <td>{$resultTwoInfo.create_time|date:'Y-m-d H:i:s',@@}</td>
                    </tr>

				</table>
			</div>

		</div>
	</div>
</body>
</html>