<!DOCTYPE HTML>
<html lang="en-US" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title></title>
{css file="bootstrap" /}
{css file="jqueryUI.bootstrap" /}
{css file="__TPL__/css/public.css" /}
{js file="jquery" /}
{js file="__TPL__/js/public.js" /}
{js file="jqueryUI" /}
{js file="jquery.validate" /}
{js file="datepicker" /}
{js file="__ROOT__/public/js/jqueryValidate/jquery.metadata.js" /}
</head>
<body>
<form action="__METH__" method="get" id="search-form">
    <table class="table well" style="margin-bottom:-18px;">
        <a href="__CONTROL__/returnMoney" class="btn btn-success"></i>返回返款</a>
        <a href="__CONTROL__/returnInterview" class="btn btn-success"><i class="icon-search icon-white"></i>面试名单记录</a>
        <a href="__CONTROL__/returnSalary" class="btn btn-success"><i class="icon-search icon-white"></i>在职工资记录</a>
        <tr>
            <th></th>
            <th>面试日期</th>
            <th>来源</th>
            <th>输入单位</th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" name="interview_time" class="input-medium" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true})" value="{if value="$base.get.interview_time|isset"}{$base.get.interview_time|urldecode}{/if}"></td>
            <td><input type="text" name="origin" class="input-medium" value="{if value="$base.get.origin|isset"}{$base.get.origin|urldecode}{/if}"></td>
            <td><input type="text" name="company" class="input-medium" value="{if value="$base.get.company|isset"}{$base.get.company|urldecode}{/if}"></td>

            <td colspan="2">
                <button type="submit" class="btn btn-success"><i class="icon-search icon-white"></i>&nbsp;&nbsp;查询</button>
                <a id="reset" class="btn btn-info"><i class="icon-refresh icon-white"></i>&nbsp;&nbsp;重置</a>
            </td>

            <script type="text/javascript">

                $('#reset').click(function(){
                    $('#search-form :input').val('');
                    $('#search-form').submit();
                });
            </script>
        </tr>
    </table>
</form>
<table class="table" id="price-list">
	<tr>
        <th><input type="checkbox" class="select-all input-checkbox"></th>
        <th>单据编号</th>
        <th>来源</th>
        <th>面试日期</th>
        <th>输入单位</th>
        <th>性别</th>
        <th>返款方式</th>
        <th>隶属公司</th>
        <th>类型</th>
        <th>性质</th>
        <th>资源地</th>
        <th>价格</th>
        <th>奖励</th>
        <th>备注</th>
        <th>学校</th>
        <th>工资额度</th>
        <th>导入时间</th>
        <th>操作</th>
	</tr>
	{foreach from="$prices" value="$price"}
	<tr>
        <td><input type="checkbox" class="input-checkbox" name="price_id" value="{$price.id}"> </td>
		<td>{$price.num}</td>
        <td>{$price.origin}</td>
        <td>{$price.interview_time|date:'Y-m-d',@@}</td>
        <td>{$price.company}</td>
		<td>{$price.sex}</td>
		<td>{$price.return_money_way}</td>
		<td>{$price.membership_company}</td>
		<td>{$price.type}</td>
		<td>{$price.nature}</td>
		<td>{$price.resource_place}</td>
		<td>{$price.price}</td>
		<td>{$price.award}</td>
		<td>{$price.note}</td>
		<td>{$price.school}</td>
		<td>{$price.salary_line}</td>
		<td>{$price.create_time|date:'Y-m-d H:i:s',@@}</td>
        <td><a href="__CONTROL__/editPrice/id/{$price.id}" value-id="{$price.id}" class="opt-edit"><i class="icon-edit"></i>编辑</a>
        </td>
	</tr>
	{/foreach}
    <tr class="well">
        <td><input type="checkbox" class="select-all input-checkbox"></td>

        <td class="opt" colspan="4">
            <a class="btn btn-mini btn-danger" action="del"><i class="icon-trash icon-white"></i> 删除</a>
        </td>
        <td colspan="4">
            {$pages}
        </td>
        <td></td>
    </tr>
</table>
<div id="dialog" class="hide" title="">
	<img src="" alt="">
</div>

<script type="text/javascript">
    select_all('price-list');

    $('.opt-edit').click(function() {
        var _this = $(this),
                _id = _this.attr('href');
        $.get($(this).attr('href'), function (data) {
            $('#dialog').html(data);
            $('#dialog').dialog({
                "title": "修改信息",
                "width": "500",
                "height": "750",
                "modal": true,
                "buttons": {
                    "确定": function () {

                        $('#dialog form').submit();
                    }
                }

            });
        }, 'html');
        return false;
    });

    function del(arg){
        $.post('__CONTROL__/delPrice',{"id":arg.id},function(data){
            if(data==1){
                window.location.reload();
            }
        },'html');
    }

    $('.opt a').click(function(){
        var _id_arr=[],
                _action='del',
                _fun="del",//处理函数
                _checked=$('#price-list :checkbox[name]:checked');
        if(_checked.length==0){
            alert("请选择你需要操作的记录!");
            return false;
        }
        _checked.each(function(){
            _id_arr.push($(this).val());
        });

        if(confirm("确定删除选中记录？")){
            eval(_fun+"({id:_id_arr,checked_obj:_checked})");
        }
        return false;
    });

</script>
</body>
</html>