{include file="__TPL__/header.html" /}
<div id="userList">
    <a href="__CONTROL__/addReturnWay" id="opt-add" class="btn btn-small btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;&nbsp;添加方式</a>
    <table class="table" id="recruit-list">
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>返款天数</th>
            <th>操作</th>
        </tr>
        {foreach from="$ways" value="$way"}
        <tr>
            <td>{$way.id}</td>
            <td>{$way.name}</td>
            <td>{$way.day_num}</td>
            <td><a href="__CONTROL__/editReturnWay/id/{$way.id}" value-id="{$way.id}" class="opt-edit"><i class="icon-edit"></i>编辑</a></td>
        </tr>
        {/foreach}
        <tr class="well">
            <td colspan="4">
                {$page}
            </td>
            <td></td>
        </tr>
    </table>
</div>

<div id="dialog" style="z-idnex:999"></div>
<script type="text/javascript">

    $('#opt-add').click(function() {
        var _this = $(this),
                _id = _this.attr('href');
        $.get($(this).attr('href'), function (data) {
            $('#dialog').html(data);
            $('#dialog').dialog({
                "title": "添加方式",
                "width": "400",
                "height": "250",
                "modal": true,
                "buttons": {
                    "确定": function () {

                        $('#dialog form').submit();
                    }
                }

            });
        }, 'html');
        return false;
    });

    $('.opt-edit').click(function() {
        var _this = $(this),
                _id = _this.attr('href');
        $.get($(this).attr('href'), function (data) {
            $('#dialog').html(data);
            $('#dialog').dialog({
                "title": "修改信息",
                "width": "400",
                "height": "250",
                "modal": true,
                "buttons": {
                    "确定": function () {

                        $('#dialog form').submit();
                    }
            }

            });
        }, 'html');
        return false;
    });

</script>
</body>
</html>
