<!DOCTYPE HTML>
<html lang="en-US" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title></title>
{css file="bootstrap" /}
{css file="jqueryUI.bootstrap" /}
{css file="__TPL__/css/public.css" /}
{js file="jquery" /}
{js file="__TPL__/js/public.js" /}
{js file="jqueryUI" /}
{js file="jquery.validate" /}
{js file="datepicker" /}
{js file="__ROOT__/public/js/jqueryValidate/jquery.metadata.js" /}
</head>
<body>
<form action="__METH__" method="get" id="search-form">
    <table class="table well" style="margin-bottom:-18px;">
        <a href="__CONTROL__/returnMoney" class="btn btn-success">返回返款</a>
        <a href="__CONTROL__/returnInterview" class="btn btn-success"><i class="icon-search icon-white"></i>面试名单记录</a>
        <a href="__CONTROL__/returnPrice" class="btn btn-success"><i class="icon-search icon-white"></i>价格流水记录</a>
        <tr>
            <th></th>
            <th>工号</th>
            <th>姓名</th>
            <th>上班日期</th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" name="number" class="input-medium" value="{if value="$base.get.number|isset"}{$base.get.number}{/if}"></td>
            <td><input type="text" name="name" class="input-medium" value="{if value="$base.get.name|isset"}{$base.get.name|urldecode}{/if}"></td>
            <td><input type="text" name="start_time" class="input-medium" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true})" value="{if value="$base.get.start_time|isset"}{$base.get.start_time|urldecode}{/if}"></td>

            <td colspan="2">
                <button type="submit" class="btn btn-success"><i class="icon-search icon-white"></i>&nbsp;&nbsp;查询</button>
                <a id="reset" class="btn btn-info"><i class="icon-refresh icon-white"></i>&nbsp;&nbsp;重置</a>
            </td>

            <script type="text/javascript">

                $('#reset').click(function(){
                    $('#search-form :input').val('');
                    $('#search-form').submit();
                });
            </script>
        </tr>
    </table>
</form>
<table class="table" id="salary-list">
	<tr>
        <th><input type="checkbox" class="select-all input-checkbox"></th>
        <th>工号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>上班日期</th>
        <th>离职日期</th>
        <th>身份证</th>
        <th>公司</th>
        <th>工资</th>
        <th>应发月份</th>
        <th>工时</th>
        <th>类型</th>
        <th>性质</th>
        <th>隶属公司</th>
        <th>导入时间</th>
        <th>操作</th>
	</tr>
	{foreach from="$salarys" value="$salary"}
	<tr>
        <td><input type="checkbox" class="input-checkbox" name="salary_id" value="{$salary.id}"> </td>
		<td>{$salary.number}</td>
		<td>{$salary.name}</td>
		<td>{$salary.sex}</td>
		<td>{$salary.start_time|date:'Y-m-d',@@}</td>
		<td>{$salary.leave_time|date:'Y-m-d',@@}</td>
		<td>{$salary.identity}</td>
        <td>{$salary.company}</td>
        <td>{$salary.salary}</td>
        <td>{$salary.month}</td>
		<td>{$salary.work_time}</td>
		<td>{$salary.type}</td>
		<td>{$salary.nature}</td>
		<td>{$salary.membership_company}</td>
		<td>{$salary.create_time|date:'Y-m-d H:i:s',@@}</td>
        <td><a href="__CONTROL__/editSalary/id/{$salary.id}" value-id="{$salary.id}" class="opt-edit"><i class="icon-edit"></i>编辑</a>
        </td>
	</tr>
	{/foreach}
    <tr class="well">
        <td><input type="checkbox" class="select-all input-checkbox"></td>

        <td class="opt" colspan="4">
            <a class="btn btn-mini btn-danger" action="del"><i class="icon-trash icon-white"></i> 删除</a>
        </td>
        <td colspan="4">
            {$pages}
        </td>
        <td></td>
    </tr>
</table>
<div id="dialog" class="hide" title="">
	<img src="" alt="">
</div>

<script type="text/javascript">
    select_all('salary-list');

    $('.opt-edit').click(function() {
        var _this = $(this),
                _id = _this.attr('href');
        $.get($(this).attr('href'), function (data) {
            $('#dialog').html(data);
            $('#dialog').dialog({
                "title": "修改信息",
                "width": "500",
                "height": "750",
                "modal": true,
                "buttons": {
                    "确定": function () {

                        $('#dialog form').submit();
                    }
                }

            });
        }, 'html');
        return false;
    });

    function del(arg){
        $.post('__CONTROL__/delSalary',{"id":arg.id},function(data){
            if(data==1){
                window.location.reload();
            }
        },'html');
    }

    $('.opt a').click(function(){
        var _id_arr=[],
                _action='del',
                _fun="del",//处理函数
                _checked=$('#salary-list :checkbox[name]:checked');
        if(_checked.length==0){
            alert("请选择你需要操作的记录!");
            return false;
        }
        _checked.each(function(){
            _id_arr.push($(this).val());
        });

        if(confirm("确定删除选中记录？")){
            eval(_fun+"({id:_id_arr,checked_obj:_checked})");
        }
        return false;
    });

</script>
</body>
</html>