{include file="__TPL__/header.html" /}
<div id="userList">

    <table class="table well" style="margin-bottom:-18px;">
        <tr>
            <td colspan="2">
                <a id="insert" class="btn btn-small btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;&nbsp;导入三表</a>
                <a id="insert_reward" class="btn btn-small btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;&nbsp;导入招聘奖励表</a>
                <a href="__CONTROL__/returnInterview" class="btn btn-success"><i class="icon-search icon-white"></i>面试名单记录</a>
                <a href="__CONTROL__/returnPrice" class="btn btn-success"><i class="icon-search icon-white"></i>价格流水记录</a>
                <a href="__CONTROL__/returnSalary" class="btn btn-success"><i class="icon-search icon-white"></i>在职工资记录</a>
                <a href="__CONTROL__/resultTwo" class="edit-company"><i class="icon-edit"></i>结果格式2</a>
                <a id="exportResult1" href="__CONTROL__/selectField1" class="btn btn-small btn-primary" style="margin-left: 8px">导出格式</a>
            </td>
        </tr>
    </table>

    <div style="display: none">
        <form id="export" action="__CONTROL__/exportResult1" method="post" enctype="multipart/form-data" id="insertCommission" class="well form-horizontal">
            <table border=0 cellspacing=0 cellpadding=0 align=center width="100%">
                <tr>
                    <td>
                        <input type="submit" value="导出" name="export">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <form action="__METH__" method="get" id="search-form">
        <table class="table well" style="margin-bottom:-18px;">
            <tr>
                <th></th>
                <th>来源</th>
                <th>附属中介</th>
                <th>输入单位</th>
                <th>姓名</th>
                <th>身份信息</th>
                <th>面试日期</th>
                <th>付款日期</th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" name="originer" class="input-medium" value="{if value="$base.get.originer|isset"}{$base.get.originer}{/if}"></td>
                <td><input type="text" name="membership_mediation" class="input-medium" value="{if value="$base.get.membership_mediation|isset"}{$base.get.membership_mediation|urldecode}{/if}"></td>
                <td><input type="text" name="company" class="input-medium" value="{if value="$base.get.company|isset"}{$base.get.company|urldecode}{/if}"></td>
                <td><input type="text" name="name" class="input-medium" value="{if value="$base.get.name|isset"}{$base.get.name|urldecode}{/if}"></td>
                <td><input type="text" name="identity" class="input-medium" value="{if value="$base.get.identity|isset"}{$base.get.identity|urldecode}{/if}"></td>
                <td><input type="text" name="interview_time" class="input-medium" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true})" value="{if value="$base.get.interview_time|isset"}{$base.get.interview_time|urldecode}{/if}"></td>
                <td><input type="text" name="pay_time" class="input-medium" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true})" value="{if value="$base.get.pay_time|isset"}{$base.get.pay_time|urldecode}{/if}"></td>

                <td colspan="2">
                    <button type="submit" class="btn btn-success"><i class="icon-search icon-white"></i>&nbsp;&nbsp;查询</button>
                    <a id="reset" class="btn btn-info"><i class="icon-refresh icon-white"></i>&nbsp;&nbsp;重置</a>
                </td>

                <script type="text/javascript">

                    $('#reset').click(function(){
                        $('#search-form :input').val('');
                        $('#search-form').submit();
                    });
                </script>
            </tr>
        </table>
    </form>

    <table class="table" id="recruit-list">
        <tr>
            <th><input type="checkbox" class="select-all input-checkbox"></th>
            <th width="10%">渠道</th>
            <th>来源</th>
            <th>附属中介</th>
            <th>输入单位</th>
            <th>工号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>薪资</th>
            <th>奖励</th>
            <th>类型</th>
            <th>面试日期</th>
            <th>生成时间</th>
            <th>操作</th>
        </tr>
        {foreach from="$returnMoneys" value="$returnMoney"}
        <tr>
            <td><input type="checkbox" class="input-checkbox" name="return_id" value="{$returnMoney.id}"> </td>
            <td>{$returnMoney.origin}</td>
            <td>{$returnMoney.originer}</td>
            <td>{$returnMoney.membership_mediation}</td>
            <td>{$returnMoney.company}</td>
            <td>{$returnMoney.number}</td>
            <td>{$returnMoney.name}</td>
            <td>{$returnMoney.sex}</td>
            <td>{$returnMoney.salary}</td>
            <td>{$returnMoney.award}</td>
            <td>{$returnMoney.type}</td>
            <td>{$returnMoney.interview_time|date:'Y-m-d H:i:s',@@}</td>
            <td>{$returnMoney.create_time|date:'Y-m-d H:i:s',@@}</td>
            <td><a href="__CONTROL__/editReturnMoney/id/{$returnMoney.id}" value-id="{$returnMoney.id}" class="opt-edit"><i class="icon-edit"></i>编辑</a>
                <a href="__CONTROL__/returnMoneyInfo/id/{$returnMoney.id}" value-id="{$returnMoney.id}" class="opt-view">查看</a>
            </td>
        </tr>
        {/foreach}
        <tr class="well">

            <td><input type="checkbox" class="select-all input-checkbox"></td>

            <td class="opt" colspan="4">
                <a class="btn btn-mini btn-danger" action="del"><i class="icon-trash icon-white"></i> 删除</a>
            </td>

            <td colspan="4">
                {$pages}
            </td>
            <td></td>
        </tr>
    </table>
</div>

<div id="insertReturnLog" style="display: none">
    <form action="__CONTROL__/insertReturnMoney" method="post" enctype="multipart/form-data" id="insert_recruits" class="well form-horizontal">
        <table border=0 cellspacing=0 cellpadding=0 align=center width="100%">

            <tr>
                <td width=70 height=20 align="center"><input type="hidden" name="MAX_FILE_SIZE" value="2000000">在职工资： </td>
                <td height="16">
                    <input name="file1" type="file"  value="浏览" >
                </td>
                <input name="type" type="hidden" value="1">
            </tr>
            <tr>
                <td width=70 height=20 align="center"><input type="hidden" name="MAX_FILE_SIZE" value="2000000">价格流水： </td>
                <td height="16">
                    <input name="file2" type="file"  value="浏览" >
                </td>
                <input name="type" type="hidden" value="2">
            </tr>
            <tr>
                <td width=70 height=20 align="center"><input type="hidden" name="MAX_FILE_SIZE" value="2000000">面试名单： </td>
                <td height="16">
                    <input name="file3" type="file"  value="浏览" >
                </td>
                <input name="type" type="hidden" value="3">
            </tr>
            <tr>
                <td>
                    <input type="submit" value="确定" name="upload">
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="insertReward" style="display: none">
    <form action="__CONTROL__/insertReward" method="post" enctype="multipart/form-data" class="well form-horizontal">
        <table border=0 cellspacing=0 cellpadding=0 align=center width="100%">

            <tr>
                <td width=70 height=20 align="center"><input type="hidden" name="MAX_FILE_SIZE" value="2000000">招聘奖励： </td>
                <td height="16">
                    <input name="file1" type="file"  value="浏览" >
                </td>
                <input name="type" type="hidden" value="4">
            </tr>
            <tr>
                <td>
                    <input type="submit" value="确定" name="upload">
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="dialog" style="z-idnex:999"></div>
<script type="text/javascript">
    select_all('recruit-list');
    //删除选中职位
    function del(arg){
        $.post('__CONTROL__/delReturnMoney',{"id":arg.id},function(data){
            if(data==1){
                window.location.reload();
            }
        },'html');
    }

    $('.opt a').click(function(){
        var _id_arr=[],
                _action='del',
                _fun="del",//处理函数
                _checked=$('#recruit-list :checkbox[name]:checked');
        if(_checked.length==0){
            alert("请选择你需要操作的记录!");
            return false;
        }
        _checked.each(function(){
            _id_arr.push($(this).val());
        });

        if(confirm("确定删除选中记录？")){
            eval(_fun+"({id:_id_arr,checked_obj:_checked})");
        }
        return false;
    });
    //导入excel
    $("#insert").click(function(){
        $("#insertReturnLog").dialog({
            //modal:true,
            title:'导入表格',
            resizable: true,
            width:450

        });
        $("#upload #title").val('').focus();
        return false;
    });

    $("#insert_reward").click(function(){
        $("#insertReward").dialog({
            //modal:true,
            title:'导入表格',
            resizable: true,
            width:450

        });
        $("#upload #title").val('').focus();
        return false;
    });

    $('.opt-view').click(function() {
        var _this = $(this),
                _id = _this.attr('href');
        $.post($(this).attr('href'), function (data) {
            $('#dialog').html(data);
            $('#dialog').dialog({
                "title": "返款信息",
                "width": "500",
                "height": "750",
                "modal": true,
                "buttons": {
                    "关闭": function () {
                        $(this).dialog("close");
                    }
                }

            });
        }, 'html');
        return false;
    });

    $('#exportResult1').click(function(){

        $.get($(this).attr('href'), function (data) {
            $('#dialog').html(data);
            $('#dialog').dialog({
                "title": "选择字段",
                "width": "500",
                "height": "750",
                "modal": true,
                "buttons": {
                    "确定": function () {
                        $('#dialog form').submit();
//                        $('#export').submit();
                    },
                    "关闭": function () {
                        $(this).dialog("close");
                    }
                }

            });
        }, 'html');
        return false;
        //$('#export').submit();
    });

    $('.opt-edit').click(function() {
        var _this = $(this),
                _id = _this.attr('href');
        $.get($(this).attr('href'), function (data) {
            $('#dialog').html(data);
            $('#dialog').dialog({
                "title": "修改信息",
                "width": "500",
                "height": "750",
                "modal": true,
                "buttons": {
                    "确定": function () {

                        $('#dialog form').submit();
                    }
            }

            });
        }, 'html');
        return false;
    });

</script>
</body>
</html>
