<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    {css file="bootstrap" /}
    {css file="__TPL__/css/public.css"}
    {css file="jqueryUI.bootstrap" /}
    {jquery /}
    {js file="jqueryUI"}
    {js file="jquery.validate" /}
    <script type="text/javascript" src="__ROOT__/public/js/jqueryValidate/jquery.metadata.js"></script>
</head>
<body>
<div class="user-info">
    <form action="__CONTROL__/updateCompanyAddress" validate="true" method="post" class="sub">
        <table class="table well">
            <tr>
                <td>评论id</td>
                <td>
                    <input type="text" name="id" value="{$id}"></input>
                </td>
            </tr>
            <tr>
                <td>公司名称</td>
                <td>
                    <input type="text" name="name" value="{$name}"> </input>
                </td>
            </tr>
            <tr>
                <!--<th>评论内容 </th>-->
                <td>公司地址</td>
                <td><input name="address" id ="address" value="{$address}"  /></input></td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>