<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
{css file="bootstrap" /}
{js file="jquery" /}
{js file="datepicker" /}
{js file="jquery.validate" /}
{js file="__ROOT__/public/js/jqueryValidate/jquery.metadata.js" /}
</head>
<body>
	<form action="__METH__/id/{$base.get.id}" method="post" validate="true">
	<table>
		<tr>
			<th>文章栏目：</th>
			<td>
				<select name="cid" id="cid" validate="{required:true}" select="{$arc.cid}">
					<option value="">请选择</option>
					{foreach from="$channels" value="$channel"}
					<?php $stepN=substr_count($channel['path'],',');?>
					<?php if($stepN==0):?>
					<option value="{$channel.id}">├─{$channel.title}</option>
					<?php else:?>
					<option value="{$channel.id}"><?php echo str_repeat('&nbsp;&nbsp;', $stepN*2);?>└─{$channel.title}</option>
					<?php endif;?>
					{/foreach}
				</select>
			</td>
		</tr>
		<tr>
			<th>文章标题：</th>
			<td><input type="text" class="input-xxlarge" validate="{required:true}" name="title" value="{$arc.title}" style="background:url(__TPL__/images/ruler.gif) repeat-x left 12px;border-bottom:none;border-radius:0px;" /></td>
		</tr>
		<!--<tr>
			<td>发布人：<input type="text" name="author" class="input-medium" value="{$arc.author}" id="" /> </td>
		</tr>-->
		<tr>
			<th>描述：</th>
			<td>{editor width="660" name="desc" id="desc"}{$arc.desc}</textarea></td>
		</tr>
		<tr>
			<th>数量：</th>
			<td><input type="text" class="input" name="amount" value="{$arc.amount}" /></td>
		</tr>

		<tr>
			<th>发布时间：</th>
			<td>
				<input type="text" name="created" readonly value="{$arc.created|date:'Y-m-d H:i:s',@@}" />
			</td>
		</tr>
        <tr>
            <th>图片：</th>
            <td>
                <img src="{$arc.imgs}" style="width: 120px;height: 90px" />
            </td>
        </tr>
        <tr>
            <th></th>
            <td>{upload size="2" type="jpg,png,gif" limit="10" text="点击上传" name="path" dir="uploads/life" /}</td>
        </tr>
		<tr>
			<th></th>
			<td><input type="submit" value="更新" class="btn btn-primary" /> </td>
		</tr>
	</table>
	</form>
	<script type="text/javascript">
	$("select[select]").each(function(e,obj){
		$(this).val($(this).attr('select'));
	})
</script>
</body>
</html>
