<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    {css file="bootstrap" /}
    {css file="__TPL__/css/public.css"}
    {css file="jqueryUI.bootstrap" /}
    {jquery /}
    {js file="jqueryUI"}
    {js file="jquery.validate" /}
    <script type="text/javascript" src="__ROOT__/public/js/jqueryValidate/jquery.metadata.js"></script>
</head>
<body>
<div class="user-info">
    <form action="__CONTROL__/pushSns" validate="true" method="post" class="sub">
        <table class="table well">
            <tr>
                <td>帖子id</td>
                <td>
                    <input type="text" name="id" value="{$id}"></input>
                </td>
            </tr>
            <tr>
                <!--<th>评论内容 </th>-->
                <td>消息标题</td>
                <td><input name="title" id ="title"  /></input></td>
            </tr>
            <tr>
                <!--<th>评论内容 </th>-->
                <td>消息内容</td>
                <td><textarea name="content" id ="content" rows="3"  style="width: 283px; height: 160px;" /></textarea></td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>