<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {css file="jqueryUI.bootstrap" /}
    {css file="bootstrap"}
    {css file="__TPL__/css/public.css" /}
    {js file="jquery" /}
    {js file="jquery.validate" /}
    {js file="__ROOT__/public/js/jqueryValidate/jquery.metadata.js" /}
    {js file="jqueryUI" /}
    {js file="datepicker" /}
    {js file="__ROOT__/caches/js/linkage_data.js" /}
    {js file="__ROOT__/public/js/linkage/linkage_style_1.js" /}
</head>
<body>
<div id="tabs-2">
    <style>
        .table{ margin-top: 20px;}
    </style>

    <form action="__METH__" method="get" id="search-form">
        <table class="table well" style="margin-bottom:-18px;">
            <tr>
                <th></th>
                <th>动态内容</th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" name="content" class="input-medium" value="{if value="$base.get.content|isset"}{$base.get.content}{/if}"></td>
                <td>
                    帖子状态
                    <select name="state" {if value="$base.get.state|isset"}select="{$base.get.state}"{/if}>
                    <option value="">请选择</option>
                    <option value="1">已删除</option>
                    <option value="0">正常</option>
                    </select>
                </td>
                <td colspan="2">
                    <button type="submit" class="btn btn-success"><i class="icon-search icon-white"></i>&nbsp;&nbsp;查询</button>
                    <a id="reset" class="btn btn-info"><i class="icon-refresh icon-white"></i>&nbsp;&nbsp;重置</a>
                </td>
            </tr>
        </table>

    </form>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>昵称</th>
            <th>帖子分类</th>
            <th>内容</th>
            <th>图片</th>
            <th>点赞数</th>
            <th>评论数</th>
            <th>帖子状态</th>
            <th>发布时间</th>
            <th>操作</th>
        </tr>
        {foreach from="$sns" value="$sns"}
        <tr>
            <td>{$sns.sid}</td>
            <td>{$sns.unickname}<span class="tips">[ID:{$sns.uid}]</span></td>
            <td>
                {if value="$sns.tag==1"}<span>动态</span>
                {elseif value="$sns.tag==2"}<span>美拍</span>
                {else /}
                <span>广场</span>
                {/if}
            </td>
            <td>{$sns.content}</td>
            <!--<td>{if value="$sns.imgs!=null"}<a href="{$sns.imgs}" target="_blank"><img src="{$sns.imgs}" style="width: 80px;height: 60px;margin-left: 20px"></a>{else /}无{/if}</td>-->
            <td>
                {if value="sns.images!=null"}
                    {foreach from="$sns.images" value="$image"}
                        <a href="{$image}" target="_blank"><img src="{$image}" style="width: 80px;height: 60px;margin-left: 20px"></a>
                    {/foreach}
                {/if}
            </td>
            <td>{$sns.zan_num}</td>
            <td>{$sns.comment_num}</td>
            <td>
                {if value="$sns.del_state==0"}
                <span class='success'>正常</span>
                {else if value="$sns.del_state==1"}
                <span class="sys">已删除</span>
                {/if}
            </td>
            <td>{$sns.create_at|date:'Y-m-d H:i:s',@@}</td>
            <td><a href="__CONTROL__/delListSns/id/{$sns.sid}" title="删除" class="del_list_sns">删除</a></td>
            <td>{if value="$sns.is_top==0"}<a href="__CONTROL__/topListSns/id/{$sns.sid}" title="置顶">置顶</a>{else}<a href="__CONTROL__/chanelTopListSns/id/{$sns.sid}" title="取消置顶" >取消置顶</a> {/if}</td>
            <td><a href="__CONTROL__/commentLists/sns_id/{$sns.sid}" title="查看评论">查看评论</a></td>
            <td><a href="__CONTROL__/pushSns/sid/{$sns.sid}" title="推送" class="opt-edit">推送</a></td>
            <!--<td> <a href="__CONTROL__/pushSns/sid/{$sns.sid}  class="opt-edit"><i class="icon-edit"></i>回复</a></td>-->
        </tr>
        {/foreach}
        <tr class="well">
            <td colspan="6"></td>
            <td>{$pages}</td>
        </tr>
    </table>
    <div id="dialog" class="hide" title="">
        <img src="" alt="">
    </div>
    <script type="text/javascript">
        $('#reset').click(function(){
            $('#search-form :input').val('');
            $('#search-form').submit();
        });
        $("select[select]").each(function(e,obj){
            $(this).val($(this).attr('select'));
        });
        $(".del_list_sns").click(function(){
            if(confirm('确认删除此条动态？一旦删除不可恢复')){
                return true;
            }else{
                return false;
            }
        });
        $('.opt-edit').click(function() {
            var _this = $(this);
            $.get($(this).attr('href'), function (data) {
                $('#dialog').html(data);
                $('#dialog').dialog({
                    "title": "修改信息",
                    "width": "470",
                    "height": "452",
                    "modal": true,
                    "buttons": {
                        "确定": function () {
                            $("#dialog form").submit();
                        }
                    }
                });
            }, 'html');
            return false;
        });
    </script>

</div>

</body>
</html>