{include file="__TPL__/header.html" /}
<div id="userList">
    <form action="__CONTROL__/export" method="post" enctype="multipart/form-data" id="insertCommission" class="well form-horizontal">
        <table border=0 cellspacing=0 cellpadding=0 align=center width="100%">
            <tr>

                <td>
                    <input type="submit" value="导出" name="upload">
                </td>
            </tr>
        </table>
    </form>
    <form action="__METH__" method="get" id="search-form">
        <table class="table well" style="margin-bottom:-18px;">
            <tr>
                <th></th>
                <th>手机号</th>
                <th>开户名</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>状态</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" name="phone" class="input-medium" value="{if value="$base.get.phone|isset"}{$base.get.phone}{/if}"></td>
                <td><input type="text" name="account_name" class="input-medium" value="{if value="$base.get.account_name|isset"}{$base.get.account_name|urldecode}{/if}"></td>
                <td><input type="text" name="start_time" class="input-medium" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',autoPickDate:true})"></td>
                <td><input type="text" name="end_time" class="input-medium" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',autoPickDate:true})"></td>
                <td>
                    <select name="status" id="" class="input-mini" {if value="$base.get.status|isset"}select="{$base.get.status}"{/if}>
                    <option value="">请选择</option>
                    <option value="0">未审核</option>
                    <option value="3">已打款</option>
                    <option value="2">审核未通过</option>
                    </select>
                </td>
                <td colspan="2">
                    <button type="submit" class="btn btn-success"><i class="icon-search icon-white"></i>&nbsp;&nbsp;查询</button>
                    <a id="reset" class="btn btn-info"><i class="icon-refresh icon-white"></i>&nbsp;&nbsp;重置</a>
                </td>
                <script type="text/javascript">
                    $("select[select]").each(function(e,obj){

                        $(this).val($(this).attr('select'));
                    })
                    $('#reset').click(function(){

                        $('#search-form :input').val('');
                        $('#search-form').submit();
                    });
                </script>
            </tr>
        </table>
    </form>
    <table id="user-list" class="table">
        <tr>
            <th><input type="checkbox" class="select-all input-checkbox"></th>
            <th>ID</th>
            <th>手机号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>身份证号</th>
            <th>提现金额</th>
            <th>银行账号</th>
            <th>开户名</th>
            <th>开户行</th>
            <th>状态</th>
            <th>申请时间</th>
            <th>操作</th>
            <th>操作时间</th>
        </tr>
        {foreach from="$result" value="$result" }
        <tr>
            <td><input type="checkbox" class="input-checkbox" name="uid" value="{$result.cwid}"> </td>
            <td>{$result.cwid}</td>
            <td>{$result.phone}</td>
            <td>{$result.name}</td>
            <td>{if value="$result.gender==0"}
                <span>男</span>
                {elseif value="$result.gender==1"}
                <span>女</span>
                {/if}
            </td>
            <td>{$result.id_number}</td>
            <td>{$result.amount}</td>
            <td>{$result.bank_account}</td>
            <td>{$result.account_name}</td>
            <td>{$result.bank}</td>
            <td>{if value="$result.status==0"}
                <span class="warning">未打款</span>
                {elseif value="$result.status==3"/}
                <span class="success">已打款</span>
                {elseif value="$result.status==2"/}
                <span class="warning">审核未通过</span>
                {/if}</td>
            <td>{$result.create_time | date:'Y-m-d H:i:s',@@}</td>
            <td>
                <a href="__CONTROL__/getUserDra/id/{$result.cwid}" c-name="{$result.phone}" action="edit" class="opt-item"><i class="icon-asterisk"></i>修改</a>&nbsp;&nbsp;
                <a href="__CONTROL__/updateWithdrawal?name=3&cwid={$result.cwid}">已打款</a>
                <a href="__CONTROL__/updateWithdrawal?name=2&cwid={$result.cwid}"><font color=" ">审核不通过</font></a>
            </td>
            <td>{if value="$result.root_time == 0"}
                <span>暂无</span>
                {else}
                {$result.root_time|date:'Y-m-d H:i:s',@@}</td>
            {/if}</td>
            <?php
            			$groups=array_pop($commission);
            			$group='';
                        $rid=array();
                        if(is_array($groups)){
                			foreach ($groups as $value) {
                				$group.=$value['title'].'、';
                                $rid[]=$value['rid'];
                			}
                        }else{
                            $rid[]=$user['rid'];
                            $group=$user['title'];
                        }
            		?>
            <!--<td>{$group|trim:'、'}</td>
            <td>{$user.created|date:'Y-m-d H:i:s',@@}</td>
            <td>{$user.last_login|date:'Y-m-d H:i:s',@@}</td>-->
            <!--<td class="status">{if value="$user.banned"} <span class="warning" title="{$user.ban_reason}">已禁止</span>{else} <span class="success">已开启</span> {/if}</td>-->
            <!--<td>
                <a {if value="in_array('3',$rid)"}href="__CONTROL__/viewUserInfo/id/{$user.uid}/type/cu"{else}href="__CONTROL__/viewUserInfo/id/{$user.uid}/type/pu"{/if} c-name="{$user.username}" action="view" class="opt-item"><i class="icon-user"></i>查看</a>&nbsp;&nbsp;
                <a href="__CONTROL__/editUserInfoForm/id/{$user.uid}" c-name="{$user.username}" action="edit" class="opt-item"><i class="icon-asterisk"></i>修改</a>&nbsp;&nbsp;
                <a href="###" rid="{$rid|implode:'#',@@}" uid="{$user.uid}" username="{$user.username}" class="config-role" title="配置用户组"><i class="icon-th"></i>用户组</a>
            </td>-->
        </tr>
        {/foreach}

        <tr class="well">
            <td><input type="checkbox" class="select-all input-checkbox"></td>
            <td class="opt" colspan="2">
                <a class="btn btn-mini btn-warning" action="ban"><i class="icon-ban-circle icon-white"></i> 审核不通过</a>
                <a class="btn btn-mini btn-success" action="unban" name=><i class="icon-ok icon-white"></i> 已打款</a>
            </td>
            <td colspan="10">
                {$pages}
            </td>
        </tr>

    </table>
</div>
<div id="dialog" style="z-idnex:999"></div>
<script type="text/javascript">
    $('.config-role').click(function(){
        $('#config-role .user').text($(this).attr('username'));
        $('#config-uid').val($(this).attr('uid'));
        var rid=$(this).attr('rid').split('#');
        $('#config-role :checkbox').each(function(){
            if(jQuery.inArray($(this).val(),rid)>=0){
                $(this).attr('checked',true);
            }else{
                $(this).attr('checked',false);
            }
        });
        $('#config-role').dialog({
            "width":"400",
            "modal":true,
            "buttons":{
                "修改":function(){
                    if($('#config-role :checked').length==0){
                        alert('必须为用户设置一个角色');
                        return false;
                    }
                    $('#config-role form').submit();
                }
            }
        });
        return false;
    });
    select_all('user-list');//全选
//    //删除选中用户
//    function del_user(arg){
//        $.post('__CONTROL__/delUser',{id:arg.id},function(data){
//            if(data==1){
//                arg.checked_obj.parents('tr').fadeOut(function(){
//                    arg.checked_obj.parents('tr').remove();
//                });
//            }
//        },'html');
//    }

    //修改提现资料
    $('.opt-item').click(function() {
        var _this = $(this),
                _name = _this.attr('c-name'),
                _id = _this.attr('href');
        $.post($(this).attr('href'), function (data) {
            $('#dialog').html(data);
//            $('#dialog').dialog({
//                "title": _name + "用户提现资料",
//                "width": "500",
//                "height": "auto",
//                "modal": true,
//                "buttons": {
//                    "确定": function () {
//                        if (_this.attr('action') == 'view') {
//                            $(this).dialog("close");
//                        } else {
//                            $('#dialog form').submit();
//                        }
//                    }
//                }
//            });
        }, 'html');
        return false;
    });


    function verify_recruit(arg){
        $.post('__CONTROL__/verifyRecruit',{"recruit_id":arg.id,type:arg.a_type},function(data){
            if(data==1){
                window.location.reload();
            }
        },'html');
    }

    function ban_user(arg){
        $.post('__CONTROL__/banUser',{id:arg.id,type:arg.a_type},function(data){
            if(data==1){
                if(arg.a_type==1){
                    arg.checked_obj.parent().siblings('.status').html('<span class="warning" title="用户已被禁止">已禁止</span>');
                }else{
                    arg.checked_obj.parent().siblings('.status').html('<span class="success" title="">已开启</span>');
                }
            }
        },'html');
    }
    function updateWithdrawalCheck(arg){
        console.log(arg);
        $.post('__CONTROL__/updateWithdrawalCheck',{id:arg.id,type:arg.a_name},function(data){
            if(data.status==1){
                arg.checked_obj.parents('td').fadeOut(function(){
                    location.reload();
                });
            }
        },'json');
    }
    $('.opt a').click(function(){
        var _id_arr=[],
                _confirm_msg='修改',
                _action=$(this).attr('action'),
                _fun="updateWithdrawalCheck",//处理函数
                _name="",
                _checked=$('.table :checkbox[name]:checked');
        _checked.each(function(){
            _id_arr.push($(this).val());
        });
        if(_checked.length==0){
            alert("请选择你需要操作的用户!");
            return false;
        }

        switch(_action){
            case "ban":_confirm_msg="不通过";_fun="updateWithdrawalCheck";_name=2;break;
            case "unban":_confirm_msg="已打款";_fun="updateWithdrawalCheck";_name=3;break;
        }
        if(confirm("确定"+_confirm_msg+"选择用户？")){
            eval(_fun+"({id:_id_arr,checked_obj:_checked,a_name:_name})");
        }
        return false;
    });
    $('.opt-item').click(function(){
        var _this=$(this),
                _name=_this.attr('c-name'),
                _id=_this.attr('href');
        $.post($(this).attr('href'),function(data){
            $('#dialog').html(data);
            $('#dialog').dialog({
                "title":_name+"用户资料",
                "width":"500",
                "height":"auto",
                "modal":true,
                "buttons":{
                    "确定":function(){
                        if(_this.attr('action')=='view'){
                            $(this).dialog("close");
                        }else{
                            $('#dialog form').submit();
                        }
                    }
                }
            });
        },'html');
        return false;
    });
</script>
</body>
</html>
