<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="__TPL__/app/css/style.css" rel="stylesheet" type="text/css">
<script src="__TPL__/app/js/zepto.min.js"></script>
<script src="__TPL__/app/js/layer.m/layer.m.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body style="background:#f8f8f8;">
   <div class="jifeng_xqy">
        <div class="jifeng_xqy_tp"><img src="{$goods.img}"></div>
</div>

        <div class="jifeng_xqy_wz">{$goods.title}</div>
   <div class="clear"></div>
    </div>
        <div class="langse_xqy_wz"><p>剩余数量:{$goods.amount}</p><span>{$goods.price|intval}积分</span></div>
        <div class="clear"></div>
        <div class="sp_jj">
             <h2>商品简介</h2>

            <p>{$goods.desc}</p>
        </div>
        <div class="ljdh">
            {if value="$goods.amount>0"}
                <div id="submit" class="ljdh_anniu">立即兑换</div>
            {else}
                <div class="feise_anniu">没有了</div>
            {/if}

        </div>
</body>
</html>
<script>

    var ttouch;
    var _system;

    function connectWebViewJavascriptBridge(callback) {
        if (window.WebViewJavascriptBridge) {
            callback(WebViewJavascriptBridge)
        } else {
            document.addEventListener('WebViewJavascriptBridgeReady', function() {
                callback(WebViewJavascriptBridge)
            }, false)
        }
    }

    connectWebViewJavascriptBridge(function(bridge) {

        bridge.init(function(message, responseCallback) {
            var data = { 'Javascript Responds':'Wee!' };
            responseCallback(data)
        });
        bridge.registerHandler('testJavascriptHandler', function(data, responseCallback) {

            var responseData = { 'Javascript Says':'Right back atcha!' };
            responseCallback(responseData);
        });

        ttouch = bridge;
        _system = 0;
    });

    function callWebView(methName,postData,callback){

        if(_system==0){//ios
            ttouch.callHandler(methName,postData, callback);
        }else{//android
            postData = JSON.stringify(postData);
            var _meth = "window.hpweb."+methName+"('"+postData+"')";
            eval(_meth);
        }
    }

    $(function(){

        $('.ljdh').delegate('.ljdh_anniu','click',function(){

            $.post('__CONTROL__/integralExchange',{
                'uid':'{$base.get.uid}',
                'gid':'{$base.get.id}'
            },function(data){

                if(data.status==20){

                    callWebView('validatePhone',{});

                }else{

                    layer.open({
                        content: data.msg,
                        style: 'text-align:center',
                        time: 2
                    });
                }

            },'json')
        })
    })

</script>
