{foreach from="$sns"  value="$value"}
<div class="sns_{$value.sid}">
    <div class="content">
        <div class="top_title">
            <div class="top_title_tx">
                <div class="top_title_img showUser" data-uid="{$value.username}">
                    <img src="{$value.uavatar}">
                </div>
            </div>
            <div class="top_title_font">
                <div class="top_title_name">{$value.uname}
                    <span {if value="$value.gender==0"}class="male"{else}class="famle"{/if}></span>
                </div>
                <div class="top_title_date">{$value.from_time}{if value="$value.is_del"}<span class="delSns" data-id="{$value.sid}">删除</span>{/if}</div>
            </div>
            <!--{if value="$value.is_top"}-->
            <!--<div class="ding"><img src="__TPL__/app/images/zhidin.png" width="20" height="20"></div>-->
            <!--{/if}-->
            <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
        <div class="content_font">{$value.content}</div>
        {if value="$value.imgs|count>0"}
        <ul>
            {foreach from="$value.imgs" value="$img"}
            <li><img class="sns_img" src="{$img}"></li>
            {/foreach}
        </ul>
        {/if}
    </div>
    <div style="clear:both"></div>
    {if value="$value.comments|count>3"}
    <div class="content_1">
        {foreach from="$value.comments"  value="$comment"}
        <div class="content_1_list">

            {if value="$comment.pid==0"}
            <span class="langse showUser" data-uid="{$comment.username}">{$comment.nickname}：</span>
            <span class="feise AtComment" data-username="{$comment.username}" data-nickname="{$comment.nickname}" data-uid="{$comment.uid}" data-snsid="{$comment.sns_id}">{$comment.content}</span>
            {else}
            <span class="langse showUser" data-uid="{$comment.username}">{$comment.nickname}</span>&nbsp;回复
            <span class="langse showUser" data-uid="{$comment.busername}">{$comment.bnickname}：</span>
            <span class="feise">{$comment.content}</span>
            {/if}
        </div>
        {/foreach}
        <span class="more1">查看全部</span>
    </div>
    {elseif value="$value.comments|count>0"}
    <div class="content_1" style="height: auto;padding-bottom: 0px;">
        {foreach from="$value.comments"  value="$comment"}
        <div class="content_1_list">
            {if value="$comment.pid==0"}
            <span class="langse showUser" data-uid="{$comment.username}">{$comment.nickname}：</span>
            <span class="feise AtComment" data-username="{$comment.username}" data-nickname="{$comment.nickname}" data-uid="{$comment.uid}" data-snsid="{$comment.sns_id}">{$comment.content}</span>
            {else}
            <span class="langse showUser" data-uid="{$comment.username}">{$comment.nickname}</span>&nbsp;回复
            <span class="langse showUser" data-uid="{$comment.busername}">{$comment.bnickname}：</span>
            <span class="feise">{$comment.content}</span>
            {/if}
        </div>
        {/foreach}
    </div>
    {/if}
    <div class="fengxiang">
        <div class="fxaniu comment" data-id="{$value.sid}"><img src="__TPL__/app/images/评论.png">评论</div>
        <div class="fxaniu hit" style="background:none;" data-id="{$value.sid}" data-hit="{$value.is_zan}">
            {if value="$value.is_zan==0"}<img src="__TPL__/app/images/zan.png">{else}<img src="__TPL__/app/images/yizan.png">{/if}
            赞<span class="hitNum">{$value.hits}</span>
        </div>
        <div class="fxaniu report" data-id="{$value.sid}" style="background:none;">
            <img src="__TPL__/app/images/jubao.png">
            举报
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<script>
    $(function(){
        $('.more1').click(function(){
            $(this).parent().css('height','auto');
            $(this).parent().css('padding','0');
            $(this).css('display','none')
        })
    })
</script>
{/foreach}
<span id="loadmore" next="{$page}" style="text-align: center; width: 100%; display: block;">加载更多</span>
