<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="__TPL__/app/css/style.css" rel="stylesheet" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body style="background:#f8f8f8;">
<!--<div id="top_top">-->
    <!--<a onclick="javascript :history.go(-1);"><img src="__TPL__/app/images/back.png" height="21" width="12"></a>-->
    <!--我的话题-->
<!--</div>-->
{foreach from="$goods" value="$good"}
<a href="__CONTROL__/moneyGoodsInfo/uid/{$base.get.uid}/id/{$good.gid}">
   <div class="jifeng">
        <div class="jifeng_tp">
            <img src="{$good.img}">
        </div>
        <div class="jifeng_wz">{$good.title}</div>
        <div class="langse_wz"><p>{$good.start_time|date:'Y-m-d',@@}&nbsp;&nbsp;&nbsp;{$good.start_time|date:'H:i',@@}开抢</p>
            <span>剩余数量{$good.amount}</span></div>
        <div class="clear"></div>
        <div class="time2">
            <span>抢购价：{$good.price}元</span>
            <div type="submit" {if value="$good.amount>0"} class="jifeng_anniu"  {else}class="feise_anniu"  {/if}> {if value="$good.amount>0"} 立即抢购 {else}抢光了 {/if}</div>
        </div>
   </div>
</a>
{/foreach}
</body>
</html>
