<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>
<div id="content">
    <div id="top_title">
          <div class="top_title_tx"><img src="images/头像.png"></div>
          <div class="top_title_font">
               <div class="top_title_name">孙海
               <div class="xingbie"><img src="images/index_fx_03.jpg"></div>
               </div>
               <div class="top_title_date">昨天&nbsp;&nbsp;09：21</div>
          </div>
    <div style="clear:both"></div>
  </div>
    <div style="clear:both"></div>
  <div class="content_font">最近去了某某景区拍得照最近去了某某景区拍得照</div>
  <ul>
     <li><img src="images/配图1.png"></li>
     <li><img src="images/配图1.png"></li>
     <li><img src="images/配图1.png"></li>
     <li><img src="images/配图1.png"></li>
     <li><img src="images/配图1.png"></li>
  </ul>
  </div>
  <div style="clear:both"></div>
<div id="content_1">
       <div class="content_1_list">
            <span class="langse">孙丽丽：</span>
            <span class="feise">哇！拍的很好啊哇哇！拍的很好啊哇哇拍的很好啊哇</span>
     </div>
     <div class="content_1_list">
            <span class="langse">孙丽丽<span class="feise">回复</span>孙梅：</span>
            <span class="feise">哇！拍的很好啊哇哇！拍的很好啊</span>
     </div>
     <div class="content_1_list">
            <span class="langse">孙丽丽：</span>
            <span class="feise">哇！拍的很好啊哇哇！拍的很好啊哇哇！拍的很好啊哇</span>
     </div>
     <div class="content_1_list">
            <span class="langse">孙丽丽<span class="feise">回复</span>孙梅：</span>
            <span class="feise">哇！拍的很好啊哇哇！拍的很好啊</span>
     </div>
     <div class="content_1_list">
            <span class="langse">孙丽丽：</span>
            <span class="feise">哇！拍的很好啊哇哇！拍的很好啊哇哇！拍的很好啊哇</span>
     </div>
     <div class="content_1_list">
            <span class="langse">孙丽丽<span class="feise">回复</span>孙梅：</span>
            <span class="feise">哇！拍的很好啊哇哇！拍的很好啊</span>
     </div>
     <div class="content_1_list">
            <span class="langse">孙丽丽：</span>
            <span class="feise">哇！拍的很好啊哇哇！拍的很好啊哇哇！拍的很好啊哇</span>
     </div>
<div class="fengxiang">
     <div class="fxaniu"><img src="images/分享.png">分享</div>
     <div class="fxaniu"><img src="images/评论.png">评论</div>
     <div class="fxaniu" style="background:none;"><img src="images/赞.png">赞</div>
     <div class="clear"></div>
</div>
</div>

</body>
</html>
