<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>薪资</title>
    <link href="__TPL__/app/css/css.css" rel="stylesheet" type="text/css">
    <script src="__TPL__/app/js/open.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body class="body">
    <div class="page">
        <article>
            <div class="xingzi">
                <P><span>企业名称：</span>{$salary.company_name}</P>
                <P><span>工资月份：</span>{$salary.salary_month}</P>
                <P><span>工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</span>{$salary.job_number}</P>
                <P><span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span>{$salary.name}</P>
                <P><span>身份证号：</span>{$salary.id_number}</P>
                <P><span>基本工资：</span>{$salary.basic_salary}</P>
                <P><span>应发合计：</span>{$salary.should_salary}</P>
                <P><span>扣款合计：</span>{$salary.withhold_count}</P>
                <P><span>实发合计：</span>{$salary.really_salary}</P>
            </div>
            <div id="xingzi1" style="display: none;">
                <P><span>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;资：</span>{$salary.seniority}</P>
                <P><span>全&nbsp;&nbsp;勤&nbsp;&nbsp;奖：</span>{$salary.attendance_bonus}</P>
                <P><span>补贴合计：</span>{$salary.subsidy_count}</P>
                <P><span>交通补贴：</span>{$salary.subsidy_transportation}</P>
                <P><span>住房补贴：</span>{$salary.subsidy_house}</P>
                <P><span>加班合计：</span>{$salary.overtime_count}</P>
                <P><span>中夜班费：</span>{$salary.overtime_cost}</P>
                <P><span>奖&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金：</span>{$salary.prize}</P>
                <P><span>季&nbsp;&nbsp;度&nbsp;&nbsp;奖：</span>{$salary.qr_prize}</P>
                <P><span>年&nbsp;&nbsp;终&nbsp;&nbsp;奖：</span>{$salary.end_prize}</P>
                <P><span>补&nbsp;&nbsp;上&nbsp;&nbsp;月：</span>{$salary.last_month}</P>
                <P><span>档&nbsp;案&nbsp;费1：</span>{$salary.file_cost1}</P>
                <P><span>缺勤扣款：</span>{$salary.absence_deductions}</P>
                <P><span>其他扣款：</span>{$salary.other_deductions}</P>
                <P><span>代扣外包费：</span>{$salary.outsource_cost}</P>
                <P><span>个&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;社：</span>{$salary.jinpo}</P>
                <P><span>公&nbsp;&nbsp;积&nbsp;&nbsp;金：</span>{$salary.cpf}</P>
                <P><span>个&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;税：</span>{$salary.tax}</P>
                <P><span>住&nbsp;&nbsp;宿&nbsp;&nbsp;费：</span>{$salary.house_cost}</P>
                <P><span>工&nbsp;&nbsp;会&nbsp;&nbsp;费：</span>{$salary.checkoff}</P>
                <P><span>档&nbsp;案&nbsp;费2：</span>{$salary.file_cost2}</P>
                <P><span>开&nbsp;&nbsp;卡&nbsp;&nbsp;费：</span>{$salary.open_card}</P>
            </div>
            <div class="djckxq">
                <a onclick="openShutManager(this,'xingzi1',false,'点击收起','点击查看详情')">点击查看详情</a>
            </div>
        </article>
    </div>
</body>
</html>