<!DOCTYPE html>
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache"> -->

    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="format-detection" content="telephone=no">
    <meta id="viewport" name="viewport" content="width=720px,minimum-scale=0.5,maximum-scale=0.5,">
    <meta name="apple-itunes-app" content="0">
    <script type="text/javascript" src="__TPL__/app/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__TPL__/app/js/ios.js"></script><meta name="viewport" content="target-densitydpi=device-dpi, width=720px, user-scalable=no">
    <script type="text/javascript" src="__TPL__/app/js/jquery.mousewheel.js"></script>
    <link rel="stylesheet" type="text/css" href="__TPL__/app/css/newpost.css">
    <title>{$data.info.unickname}的帖子</title>
</head>
<body>
<h1 class="h1">{$data.info.unickname}的帖子</h1>

<div id="top">
    <div class="download">
        <div class="foot_icon">
            <img src="__TPL__/app/images/icon.png">		</div>
        <div class="foot_title">
            <span class="t">开心工作</span>
            <span class="b">求职一站式 服务零距离</span>
        </div>
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.tongyu.luck.happywork">
            <div class="download_btn">
                <span>立即下载</span>
            </div>
        </a>
    </div>
</div>


<div class="wrap">
    <!-- 内容 -->


    <div class="datainfo">
        <div class="hd">
            <div class="lft"> <img src="{$data.info.uvatar}" class="avatar u_avatar">
                <div class="info">
                    <label>{$data.info.unickname}			<i>{if value='$data.info.gender==0'}<img src="__TPL__/app/images/img3.png">{else}<img src="__TPL__/app/images/img4.png">{/if}</i>
                    </label>
                    <span>{$data.info.create_at|date:'Y-m-d H:i:s',@@}.{$data.info.fcityname}</span>
                </div>
            </div>
        </div>
        <div class="bd">
            <div class="desc">
                <div class="content"><pre style="white-space: pre-wrap;word-wrap: break-word; ">

            	</pre></div>
            </div>
            <div class="thumb">
                <div class="img">{if value="!empty($data.info.images)"}{foreach from="$data.info.images" value="$image"}<img src="{$image}">{/foreach}{/if} </div>

                <div class="message"><span>{$data.info.content}</span></div>
            </div>

            <!-- 	<div class="from"><strong>来自频道：</strong>每天为生活拍一张</div>
 -->    <div class="action">
            <a class="like" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.tongyu.luck.happywork">{$data.info.zan_num} </a>
            <a class="post" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.tongyu.luck.happywork">  {$data.info.comment_num} </a>
        </div>
        </div>
        <div class="ft">
            <div class="fl"> 已有<strong>{$data.info.comment_num}</strong>条回复... </div>
            <div class="fr">很久前 </div>
        </div>
    </div>

    <div class="clear"></div>
    <div class="postlist">

        <a class="more_post" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.tongyu.luck.happywork"><span> 打开开心工作查看全部回复 </span> </a>


    </div>

    {if value="!empty($data.more)"}
    <span class="more_tit">更多精彩内容</span>
    <div class="other" style="margin-bottom:150px;">
        {foreach from="$data.more" value="$more"}
        <a class="thread" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.tongyu.luck.happywork">
            <div class="row">
                <div class="hd">
                    <img src="{$more.uvatar}" class="avatar u_avatar">
                    <div class="info">
                        <label>{$more.unickname}	             	<i>{if value='$more.gender==0'}<img src="__TPL__/app/images/img3.png">{else}<img src="__TPL__/app/images/img4.png">{/if}</i>
                        </label>
                        <span>{$more.fcityname}</span>
                    </div>
                </div>
                <div class="img">{if value="!empty($more.images)"}{foreach from="$more.images" value="$image"}<img src="{$image}">{/foreach}{/if} </div>
                <div class="message"><span>{$more.content}</span> </div>
            </div>
        </a>
        {/foreach}
        	<div class="clear"></div>
    </div>
    {else}
    <span class="more_tit">没有更多精彩内容</span>
    {/if}

    <div class="more" id="end">
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.tongyu.luck.happywork"><span> 打开 [  开心工作  ] 查看更多 </span> </a>
    </div>


    <!-- /内容 -->

</div>



</body></html>