<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {css file="jqueryUI.bootstrap" /}
        {css file="bootstrap"}
        {css file="__TPL__/css/public.css" /}
        {js file="jquery" /}
        {js file="jquery.validate" /}
        {js file="__ROOT__/public/js/jqueryValidate/jquery.metadata.js" /}
        {js file="jqueryUI" /}
        {js file="datepicker" /}
        {js file="__ROOT__/caches/js/linkage_data.js" /}
        {js file="__ROOT__/public/js/linkage/linkage_style_1.js" /}
    </head>
    <body>
    <div style="display: none">
        <form id="exportCompany" action="__CONTROL__/exportCompanys" method="post" enctype="multipart/form-data" id="insertCommission" class="well form-horizontal">
            <table border=0 cellspacing=0 cellpadding=0 align=center width="100%">
                <tr>

                    <td>
                        <input type="submit" value="导出" name="export">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <form action="__METH__" method="get" id="search-form">
        <table class="table well" style="margin-bottom:-18px;">
            <tr>
                <th></th>
                <th>公司名</th>
                <th>开始时间</th>
                <th>结束时间</th>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" name="name" class="input-medium" value="{if value="$base.get.name|isset"}{$base.get.name|urldecode}{/if}"></td>
                <td><input type="text" name="start_time" class="input-medium" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',autoPickDate:true})"></td>
                <td><input type="text" name="end_time" class="input-medium" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',autoPickDate:true})"></td>
                <td colspan="2" style="text-align: right; padding-right: 25px;">
                    <button type="submit" class="btn btn-success"><i class="icon-search icon-white"></i>&nbsp;&nbsp;查询</button>
                    <a id="reset" class="btn btn-info"><i class="icon-refresh icon-white"></i>&nbsp;&nbsp;重置</a>
                    <a id="insert" class="btn btn-small btn-primary"><i class="icon-plus-sign icon-white"></i>&nbsp;&nbsp;导入公司</a>
                    <a id="exportCompanys" class="btn btn-small btn-primary"><i class="icon-download icon-white"></i>&nbsp;&nbsp;导出列表</a>
                </td>

                <script type="text/javascript">

                    $('#reset').click(function(){
                        $('#search-form :input').val('');
                        $('#search-form').submit();
                    });

                    $('#exportCompanys').click(function(){
                        $('#exportCompany').submit();
                    });
                </script>
            </tr>
        </table>
    </form>

    <div id="tabs-2">
        <style>
            .table{ margin-top: 20px;}
        </style>
        <table class="table">
            <tr>
                <th>公司名称</th>
                <th>公司行业</th>
                <th>公司性质</th>
                <th>公司规模</th>
                <!--<th>公司描述</th>-->
                <!--<th>公司位置</th>
                <th>详细地址</th>-->
                <th>联系人</th>
                <th>联系电话</th>
                <th>公司星级</th>
                <th>认证状态</th>
                <th>放心企业</th>
                <th>联系邮箱</th>
                <th>添加时间</th>
                <th>操作</th>
                <!--<th>公司logo</th>-->
            </tr>
            {foreach from="$company" value="$company"}
            <tr>
                <td>{$company.name} <span class="tips">[ID:{$company.uid}]</span></td>
                <td style="width: 120px">{$company.company_industry}</td>
                <td>{$company.company_property}</td>
                <td>{$company.company_scope}</td>
                <!--<td style="width: 280px">{$company.desc}</td>-->
                <!--<td>{$company.address}</td>
                <td>{$company.street}</td>-->
                <td>{$company.contact_person}</td>
                <td>{$company.contact_tel}</td>
                <td>{$company.star}</td>
                <td>
                    {if value="$company.license_verify==0"}
                    <span class="warning">未认证</span>
                    {else /}
                    <span class="success">已认证</span>
                    {/if}
                </td>
                <td>
                    {if value="$company.relieved==0"}
                    <span class="warning">否</span>
                    {else /}
                    <span class="success">是</span>
                    {/if}
                </td>
                <td>{$company.link_email}</td>
                <td>{$company.time|date:'Y-m-d H:i:s',@@}</td>
                <td><a href="__CONTROL__/editCompany/uid/{$company.uid}" value-id="{$company.uid}" class="edit-company"><i class="icon-edit"></i>编辑</a></td>
            </tr>
            {/foreach}
            <tr class="well">
                <td colspan="6"></td>
                <td>{$pages}</td>
            </tr>
        </table>

        <div id="insertCompanys" style="display: none">
            <form action="__CONTROL__/insertCompanys" method="post" enctype="multipart/form-data" id="insert_companys" class="well form-horizontal">
                <table border=0 cellspacing=0 cellpadding=0 align=center width="100%">
                    <tr>
                        <td width=55 height=20 align="center"><input type="hidden" name="MAX_FILE_SIZE" value="2000000">文件： </td>
                        <td height="16">
                            <input name="file" type="file"  value="浏览" >
                        </td>
                        <input name="laid" type="hidden" id="upload_laid">
                        <td>
                            <input type="submit" value="导入" name="upload">
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <script type="text/javascript">

            //导入公司
            $("#insert").click(function(){
                $("#insertCompanys").dialog({
                    //modal:true,
                    title:'导入公司',
                    resizable: true,
                    width:450

                });
                $("#upload #title").val('').focus();
                return false;
            });

            $(".relieved").click(function(){
                if(confirm('确认设为放心企业？')){
                    return true;
                }else{
                    return false;
                }
            });
            $(".unrelieved").click(function(){
                if(confirm('确认取消放心企业？')){
                    return true;
                }else{
                    return false;
                }
            });
        </script>

    </div>

    </body>
</html>