<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {css file="jqueryUI.bootstrap" /}
        {css file="bootstrap"}
        {css file="__TPL__/css/public.css" /}
        {js file="jquery" /}
        {js file="jquery.validate" /}
        {js file="__ROOT__/public/js/jqueryValidate/jquery.metadata.js" /}
        {js file="jqueryUI" /}
        {js file="datepicker" /}
        {js file="__ROOT__/caches/js/linkage_data.js" /}
        {js file="__ROOT__/public/js/linkage/linkage_style_1.js" /}
        {js file="__TPL__/js/public.js" /}
    </head>
    <body>
    <div id="button-area" style="margin:10px 20px;">
        <button id="add-prize" class="btn btn-small btn-primary"><i class="icon-plus-sign icon-white"></i>添加数据</button>
    </div>
    <div id="dialog" title="添加中奖消息" style="display: none">
        <form action="__CONTROL__/addPrizeMess" method="post" id="add_prize_mess" class="well form-horizontal">
            <table>
                <tr>
                    <th>奖品标题</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;<input name="name" type="text" /></th>
                </tr>
                <tr>
                    <th>用户名</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;<input name="username" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="11" size="14" name="amount" type="text" /></th>
                </tr>
            </table>
        </form>
    </div>

    <form action="__METH__" method="get" id="search-form">
        <table class="table well" style="margin-bottom:-18px;">
            <tr>
                <th></th>
                <th>用户名</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>联系状态</th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" name="username" class="input-medium" value="{if value="$base.get.username|isset"}{$base.get.username}{/if}"></td>
                <td><input type="text" name="start_time" class="input-medium" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',autoPickDate:true})"></td>
                <td><input type="text" name="end_time" class="input-medium" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',autoPickDate:true})"></td>
                <td>
                    <select name="prize_contact" class="input-mini" {if value="$base.get.prize_contact|isset"}select="{$base.get.prize_contact}"{/if}>
                    <option value="">请选择</option>
                    <option value="0">未联系</option>
                    <option value="1">已联系</option>
                    <option value="2">开心添加</option>
                    </select>
                </td>
                <td colspan="2">
                    <button type="submit" class="btn btn-success"><i class="icon-search icon-white"></i>&nbsp;&nbsp;查询</button>
                    <a id="reset" class="btn btn-info"><i class="icon-refresh icon-white"></i>&nbsp;&nbsp;重置</a>
                </td>

                <script type="text/javascript">

                    $('#reset').click(function(){
                        $('#search-form :input').val('');
                        $('#search-form').submit();
                    });
                </script>
            </tr>
        </table>
    </form>

    <div id="tabs-2">
        <table class="table" id="prize-list">
            <tr>
                <th><input type="checkbox" class="select-all input-checkbox"></th>
                <th>ID</th>
                <th>奖品标题</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>性别</th>
                <th>身份证</th>
                <th>抽奖时间</th>
                <th>操作</th>
                <th>联系时间</th>
                <th>联系人</th>
            </tr>
            {foreach from="$prizesLists" value="$prizesLists"}
            <tr>
                <td><input type="checkbox" class="input-checkbox" name="lid" value="{$prizesLists.lid}"> </td>
                <td>{$prizesLists.lid}</td>
                <td>{$prizesLists.name}</td>
                <td>{$prizesLists.username}</td>
                <td>{if value="$prizesLists.rel_name==''"}暂无{/if}<span class="success">{$prizesLists.rel_name}</span></td>
                <td>
                    {if value="$prizesLists.gender==0"} 男
                    {elseif value="$prizesLists.gender==1"} 女
                    {/if}
                </td>
                <td>{if value="$prizesLists.id_num==''"}暂无{/if}<span class="success">{$prizesLists.id_num}</span></td>
                <td>{$prizesLists.time|date:'Y-m-d H:i:s',@@}</td>
                <td>
                    {if value="$prizesLists.type==2"}无
                    {elseif value="$prizesLists.type==3"}无
                    {elseif value="$prizesLists.prize_contact==0"}<a href="__CONTROL__/prizeContact/id/{$prizesLists.lid}" class ="is_contact" title="标记已联系" value-id="{$prizesLists.lid}" >标记已联系</a>
                    {elseif value="$prizesLists.prize_contact==1"}<span class="success">已联系&nbsp;&nbsp;<a href="__CONTROL__/restore/id/{$prizesLists.lid}" class ="restore" title="恢复操作" value-id="{$prizesLists.lid}" >恢复操作</a></span>
                    {elseif value="$prizesLists.prize_contact==2"}<span class="warning">开心工作添加</span>
                    {/if}
                </td>
                <td>{if value="$prizesLists.contact_time!=0"}{$prizesLists.contact_time|date:'Y-m-d H:i:s',@@}{/if}</td>
                <td>{if value="$prizesLists.contact==''"}暂未联系{/if}<span class="success">{$prizesLists.contact}</span></td>
            </tr>
            {/foreach}
            <tr class="well">
                <td><input type="checkbox" class="select-all input-checkbox"></td>
                <td class="opt" colspan="4">
                    <a class="btn btn-mini btn-success" action="verify-pass"><i class="icon-ok icon-white"></i> 一键联系</a>
                </td>
                <td colspan="4">
                    {$pages}
                </td>
                <td></td>
            </tr>
        </table>
        <script type="text/javascript">

            select_all('prize-list');

            function contact(arg){
                $.post('__CONTROL__/onekey_contact',{"lid":arg.id},function(data){
                    if(data==1){
                        window.location.reload();
                    }
                },'html');
            }

            $('.opt a').click(function(){
                var _id_arr=[],
                        _confirm_msg='一键联系',
                        _action='contact',
                        _fun="contact",//处理函数
                        _checked=$('#prize-list :checkbox[name]:checked');
                if(_checked.length==0){
                    alert("请选择你需要操作的记录!");
                    return false;
                }
                _checked.each(function(){
                    _id_arr.push($(this).val());
                });

                if(confirm("确定"+_confirm_msg+"选中中奖记录？")){
                    eval(_fun+"({id:_id_arr,checked_obj:_checked})");
                }
                return false;
            });

            $("select[select]").each(function(e,obj){
                $(this).val($(this).attr('select'));
            });

            $(".is_contact").click(function(){
                if(confirm('确认标记已联系？')){
                    return true;
                }else{
                    return false;
                }
            });
            $(".restore").click(function(){
                if(confirm('确认恢复到未联系状态？')){
                    return true;
                }else{
                    return false;
                }
            });
            $("#add-prize").click(function(){
                $("#dialog").dialog({
                    //modal:true,
                    width:435,
                    resizable: true,
                    buttons:{
                        '添加':function(){
                            $("#add_prize_mess").submit();
                        },
                        '取消':function(){
                            $(this).dialog('close');
                        }
                    }
                });
                return false;
            });
        </script>

    </div>

    </body>
</html>